{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Admin/Modules.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <select class="form-control" id="searchModules" style="width: 100%"></select>
                    </div>
                    <div class="col-md-2">
                        <button disabled id="btnAddModule" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul id="serviceTab" class="nav nav-tabs" role="tablist">
                                {% for service in services %}
                                    <li class="{% if loop.index == 1 %}active{% endif %}">
                                        <a href="#{{ service.id }}" aria-controls="{{ service.id }}" role="tab" data-toggle="tab">{{ service.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">

                                {% for service in services %}
                                    <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ service.id }}">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th width="3%">NO</th>
                                                <th width="20%">Nama</th>
                                                <th width="20%">Grup</th>
                                                <th>Path</th>
                                                <th width="7%">Sbg Menu?</th>
                                                <th width="5%"><span class="pull-right">Aksi</span></th>
                                            </tr>
                                            </thead>

                                            <tbody id="modulesList{{ service.id }}"></tbody>

                                        </table>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-footer clearfix">
                    <ul id="modulesPagination" class="pagination pagination-sm pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Add Modal#}
    <div id="addModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TAMBAH MODUL</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="addName">NAMA</label>
                            <input type="text" name="name" id="addName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addDescription">DESKRIPSI</label>
                            <input type="text" name="description" id="addDescription" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addGroupName">GRUP</label>
                            <input type="text" name="groupName" id="addGroupName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addPath">PATH</label>
                            <input type="text" name="path" id="addPath" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="addIconCls">CLASS IKON</label>
                            <input type="text" name="iconCls" id="addIconCls" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="addMenuOrder">URUTAN MENU</label>
                            <input type="number" name="menuOrder" id="addMenuOrder" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addService">SERVIS</label>
                            <select multiple name="service" id="addService" class="form-control" style="width: 100%;">
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="AddMenuDisplay">JUGA SEBAGAI MENU?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="menuDisplay" id="AddMenuDisplay"> Ya
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-add" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Add Modal#}

    {#Detail Modal#}
    <div id="detailModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DETAIL MODUL</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="addName">NAMA</label>
                            <input type="text" name="name" id="detailName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addDescription">DESKRIPSI</label>
                            <input type="text" name="description" id="detailDescription" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addGroupName">GRUP</label>
                            <input type="text" name="groupName" id="detailGroupName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addPath">PATH</label>
                            <input type="text" name="path" id="detailPath" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="addIconCls">CLASS IKON</label>
                            <input type="text" name="iconCls" id="detailIconCls" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="addMenuOrder">URUTAN MENU</label>
                            <input type="number" name="menuOrder" id="detailMenuOrder" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addService">SERVIS</label>
                            <select multiple name="service" id="detailService" class="form-control" style="width: 100%;">
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="detailMenuDisplay">JUGA SEBAGAI MENU?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="menuDisplay" id="detailMenuDisplay"> Ya
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-add" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Detail Modal#}
{%- endblock -%}