{% extends 'layout.twig' %}

{%- block js -%}
    <script src="/assets/scripts/profile.js"></script>
{%- endblock -%}

{%- block content -%}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <label for="file-image" class="profile-image"
                               style="background-image: url('/api/images/{{ image[0] }}?ext={{ image[1] }}');"
                               title="CLICK TO CHANGE YOUR PROFILE PHOTO"></label>
                        <input id="file-image" type="file"/>
                    </div>

                    <div class="col-md-10">
                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal" id="form-profile">
                                <input type="hidden" name="imageExtension">
                                <input type="hidden" name="imageString">
                                <div class="form-group">
                                    <label for="fullname" class="col-sm-1 control-label">Fullname</label>

                                    <div class="col-sm-11">
                                        <input type="text" name="fullname" value="{{- me.fullname | raw -}}" class="form-control" id="fullname" placeholder="FULLNAME">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-1 control-label">Email</label>

                                    <div class="col-sm-11">
                                        <input type="email" name="email" value="{{- me.email | raw -}}" class="form-control" id="email" placeholder="EMAIL">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-sm-1 control-label">Username</label>

                                    <div class="col-sm-11">
                                        <input type="text" readonly value="{{- me.username | raw -}}"  class="form-control" id="username" placeholder="USERNAME">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="plainPassword" class="col-sm-1 control-label">Password</label>

                                    <div class="col-sm-11">
                                        <input type="password" class="form-control" id="plainPassword" placeholder="LEAVE BLANK IF DONT WANT TO CHANGE">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-1">
                                        <button type="button" id="update-profile" class="btn btn-flat btn-block btn-danger">UPDATE</button>
                                    </div>
                                </div>
                            </form>
                            <input type="hidden" id="userId" value="{{- me.id -}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{%- endblock -%}