<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ meta.title }} - BY {{ me.fullname }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {#Bootstrap 3.3.6#}
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    {#Font Awesome#}
    {#<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">#}
    {#Ionicons#}
    {#<link rel="stylesheet" href="/assets/vendor/ionicons/css/ionicons.min.css">#}
    {#Theme style#}
    <link rel="stylesheet" href="/assets/vendor/adminlte/css/AdminLTE.css">
    <link rel="stylesheet" href="/assets/vendor/paper/paper.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        @page { size: A4 }
        body { font-size: 13px; line-height: 2 },
        table td { padding: 5px; }
    </style>
    {#<script>window.onload = function() { window.print(); }</script>#}
</head>

<body class="A4">
    {% for data in invoices %}
        {% set invoice = data.invoice %}
        {% set order = data.order %}
    <!-- Main content -->
    <section class="invoice sheet padding-10mm">
        <!-- title row -->
        <div class="row" style="padding: 15px 0 15px 0;border-bottom: 3px solid #555;">
            <div class="col-xs-6">
                <img src="/img/logo-faktur.png" style="width: 60%; margin-left: 5px;">
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-3"><b>NO</b></div>
                    <div class="col-xs-9">: {{ invoice.invoiceNumber }} </div>
                    <div class="col-xs-3"><b>TANGGAL</b></div>
                    {% if invoice.createdAt is defined %}

                        {% if invoice.createdAt|date('d-M-Y', "Asia/Jakarta")|upper == 'MAY' %}
                            {% set bln = 'MEI' %}
                        {% elseif invoice.createdAt|date('M', "Asia/Jakarta")|upper == 'AUG' %}
                            {% set bln = 'AGU' %}
                        {% elseif invoice.createdAt|date('M', "Asia/Jakarta")|upper == 'OCT' %}
                            {% set bln = 'OKT' %}
                        {% elseif invoice.createdAt|date('M', "Asia/Jakarta")|upper == 'DEC' %}
                            {% set bln = 'DES' %}
                        {% else %}
                            {% set bln = invoice.createdAt|date('M', "Asia/Jakarta")|upper %}
                        {% endif %}

                        {% set tanggal = invoice.createdAt|date('d', "Asia/Jakarta")|upper ~ '-' ~ bln ~ '-' ~ invoice.createdAt|date('Y', "Asia/Jakarta")|upper %}

                    {% endif %}
                    <div class="col-xs-9">: {{ tanggal }}</div>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- /.col -->
            <div class="col-xs-12" style="margin-top: 20px; ">

                <div class="row">

                    <div class="col-xs-12 text-center" style="font-size: 17px; font-weight: bold;">FAKTUR IKLAN</div>

                    <div class="col-xs-2">NO. ORDER</div>
                    <div class="col-xs-10">: {{ order.orderLetter|upper }}</div>

                    <div class="col-xs-2" style="margin-top: 13px;">JENIS IKLAN</div>
                    <div class="col-xs-10" style="margin-top: 13px;">: {{ order.specification.name|upper }}</div>

                    <div class="col-xs-2">TANGGAL TERBIT</div>
                    <div class="col-xs-10">: {{ order.specification.name|upper }}</div>

                    <div class="col-xs-2">JUMLAH TERBIT</div>
                    <div class="col-xs-10">: {{ order.totalPost }}</div>

                    <div class="col-xs-2" style="margin-top: 13px;">NAMA PEMESAN</div>
                    <div class="col-xs-10" style="margin-top: 13px;">: {{ order.customer.name|upper }}</div>

                    <div class="col-xs-2">ALAMAT</div>
                    <div class="col-xs-10">: {{ order.customer.address|upper }}</div>

                    <div class="col-xs-2" style="margin-top: 13px;">JUDUL IKLAN</div>
                    <div class="col-xs-10" style="margin-top: 13px;">:  {{ order.title|upper }}</div>

                    <div class="col-xs-2">UKURAN</div>
                    <div class="col-xs-10">: {{ order.columnSize }} x {{ order.milimeterSize }}</div>

                    <div class="col-xs-2" style="margin-top: 13px;">HARGA</div>
                    <div class="col-xs-2" style="margin-top: 13px;">: Rp <span class="pull-right">{{ order.basePrice|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-3" style="margin-top: 13px;">/mmk</div>

                    {% set jenisIklan = order.specification.name|lower|replace({' ':''}) %}
                    {% if
                    (jenisIklan|slice(0, 5) == 'paket')
                    or (jenisIklan == 'kuping')
                    or (jenisIklan == 'banner')
                    or (jenisIklan == 'stapel')
                    or (jenisIklan == 'eksposisi')
                    or (jenisIklan == 'tarifkhusus') %}
                        {% set tarif = 'k' %}
                    {% else %}
                        {% set tarif = 'n' %}
                    {% endif %}

                    {% if order.printInvoiceAs == 'n' %}
                        {% if tarif == 'n' %}
                            {% set harga1qty = (order.basePrice * order.columnSize * order.milimeterSize) - order.minDiscountValue - order.surchargeValue %}
                        {% else %}
                            {% set harga1qty = order.basePrice - order.minDiscountValue - order.surchargeValue %}
                        {% endif %}

                        {% set discountValue = order.discountValue %}
                        {% set cashBackValue = order.cashBackValue %}

                        {% set total = harga1qty - discountValue - cashBackValue %}
                        {% set taxValue = order.taxValue %}
                    {% else %}
                        {% set total = invoice.amount / 1.1 %}
                        {% set taxValue = total * 10 / 100 %}
                        {% set harga1qty = (total * 100) / (100 - order.discountPercentage) %}
                        {% set harga1qty = (harga1qty * 100) / (100 - order.cashBackPercentage) %}

                        {% set discountValue = ( harga1qty * order.discountPercentage ) / 100 %}
                        {% set cashBackValue = ( harga1qty - discountValue ) * order.cashBackPercentage / 100  %}
                    {% endif %}

                    <div class="col-xs-2" style="margin-top: 13px;">QTY 1 x HARGA</div>
                    <div class="col-xs-2" style="margin-top: 13px;">: Rp <span class="pull-right">{{ harga1qty|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1" style="margin-top: 13px; visibility: hidden;">s</div>

                    <div class="col-xs-2">MINUS {{ order.minDiscountPercentage }}%</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ order.minDiscountValue|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-3">( - )</div>

                    <div class="col-xs-2">DISC {{ order.discountPercentage }}%</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ discountValue|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1">( - )</div>

                    <div class="col-xs-2">PLUS {{ order.surchargePercentage }}%</div>
                    <div class="col-xs-2" style="border-bottom: 1px solid #555;">: Rp <span class="pull-right">{{ order.surchargeValue|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1" style="border-bottom: 1px solid #555;">( + )</div>
                    <div class="col-xs-2" style="visibility: hidden">s</div>

                    <div class="col-xs-2">CASH DISC {{ order.cashBackPercentage }}%</div>
                    <div class="col-xs-2" style="border-bottom: 1px solid #555;">: Rp <span class="pull-right">{{ cashBackValue|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1" style="border-bottom: 1px solid #555;">( - )</div>

                    <div class="col-xs-2">HARGA IKLAN</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ (order.basePrice - order.minDiscountValue + order.surchargeValue)|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-3" style="visibility: hidden;">s</div>

                    <div class="col-xs-2">TOTAL</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ total|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1" style="visibility: hidden;">s</div>

                    <div class="col-xs-7" style="visibility: hidden;">s</div>

                    <div class="col-xs-2">PPN 10%</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ taxValue|number_format(0, '.', ',') }}</span></div>
                    <div class="col-xs-1">( + )</div>

                    <div class="col-xs-7" style="visibility: hidden;">s</div>

                    <div class="col-xs-2">NETTO</div>
                    <div class="col-xs-2">: Rp <span class="pull-right">{{ (total + taxValue)|number_format(0, '.', ',') }}</b></span></div>
                    <div class="col-xs-1" style="visibility:hidden;">s</div>

                    <div class="col-xs-12" style="visibility: hidden;">s</div>
                    <div class="col-xs-12" style="visibility: hidden;">s</div>

                    <div class="col-xs-2">TERBILANG</div>
                    <div class="col-xs-10">: <i><b>{{ terbilang|upper }}</b></i></div>

                    <div class="col-xs-2">CATATAN</div>
                    <div class="col-xs-10">: {{ order.orderDescription }}</div>

                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <footer style="margin-top: 200px;">
            <div class="row">
                <div class="col-xs-3">
                    <table style="width: 100%; font-weight: bold" align="center"">
                    <tr>
                        <td style="text-align:center; vertical-align:middle;">
                            DIBUAT OLEH:
                        </td>
                    </tr>
                    </table>
                    <table style="width: 100%;margin-top:60px; font-weight: bold" align="center">
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <u>{{ invoice.fullName }}</u>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6"></div>
                <div class="col-xs-3">
                    <table style="width: 100%; font-weight: bold;" align="center">
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                DIPERIKSA OLEH:
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;margin-top:60px; font-weight: bold" align="center">
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <u>PEMBERI ORDER</u>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </footer>
    </section>
    <!-- /.content -->
    {% endfor %}
</body>
</html>