{% extends 'layout.twig' %}

{% block js %}
    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript">
        Bisnis.init(Bisnis.Helpdesk.Ticket.fetchByClient('{{ me.id }}'));

        Bisnis.bind('click', '.closedTickets', function () {
            Bisnis.Helpdesk.Ticket.fetchClosed({
                'client.id': '{{ me.id }}'
            }, '#closedTicketList', true);
        });

        Bisnis.bind('click', '.assignToMe', function () {
            Bisnis.Helpdesk.Ticket.fetchByClient('{{ me.id }}');
        });

        Bisnis.bind('click', '#btnSave', function () {
            var clientId = '/api/users/{{ me.id }}';
            var categoryId = Bisnis.getValue('#ticketCategory');
            var title = Bisnis.getValue('#ticketTitle');
            var message = Bisnis.getValue('#ticketMessage');

            Bisnis.Helpdesk.Ticket.createNew(clientId, categoryId, title, message, function () {
                Bisnis.click('.assignToMe');
                Bisnis.hideModal('#newTicketModal');
            });
        });

        Bisnis.bind('click', '.detail', function () {
            var that = this;
            Bisnis.store('ticketId', Bisnis.getData(that, 'ticket-id'));
            Bisnis.Helpdesk.Ticket.markRead(Bisnis.fetch('ticketId'), function () {
                Bisnis.Helpdesk.Ticket.viewByTicket(Bisnis.fetch('ticketId'));
                Bisnis.showModal('#tiketDetail');
                Bisnis.Helpdesk.Ticket.markReadStaffResponseByTicket(Bisnis.fetch('ticketId'));
            });
        });

        Bisnis.bind('click', '#sendResponse', function () {
            var ticketId = Bisnis.fetch('ticketId');
            Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                var message = Bisnis.getValue('#chatMessage');
                var staffId = ticket.staff.id;
                Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
                    if (0 < staff.length) {
                        staffId = staff[0].id;
                    }

                    Bisnis.Helpdesk.Ticket.sendReponse([
                        { name: 'ticket', value: '/api/helpdesk/tickets/' + ticketId },
                        { name: 'staff', value: '/api/helpdesk/staffs/' + staffId },
                        { name: 'message', value: message }
                    ], function () {
                        Bisnis.putHtml('#chatHistory', '');
                        Bisnis.Helpdesk.Ticket.viewByTicket(ticketId);
                        Bisnis.putValue('#chatMessage', '');
                        Bisnis.Helpdesk.Ticket.markReadStaffResponseByTicket(ticketId);
                    });
                });
            });
        });

        Bisnis.bind('click', '#closeModalDetail', function () {
            Bisnis.click('#ticketTab .active');
        });

        Bisnis.bind('click', '.closeTicket', function () {
            var that = this;
            var ticketId = Bisnis.getData(that, 'ticket-id');
            Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Anda yakin akan menutup tiket?', function (result) {
                if (result) {
                    Bisnis.Helpdesk.Ticket.close(ticketId);
                    Bisnis.click('#ticketTab .active');
                }
            });
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                </div>
                <!-- /.box-header -->
    <div class="box-body">
        <button type="button" data-modal-add="helpdesk/tickets" class="btn btn-danger pull-right add-modal btn-flat" data-toggle="modal" data-target="#newTicketModal" role="dialog" style="width: 150px">Tiket Baru</button>
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul id="ticketTab" class="nav nav-tabs" role="tablist">
                        <li class="active assignToMe"><a href="#myTickets" aria-controls="home" role="tab" data-toggle="tab">TIKETKU</a></li>
                        <li><a class="closedTickets" href="#closedTickets" aria-controls="profile" role="tab" data-toggle="tab">CLOSED TIKET</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                {#start tab content#}

                    {#ALL MY TIKET#}
                    <div id="myTickets" class="tab-pane fade active in">

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped table-bordered table-hover tableTicket">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kategori</th>
                                        <th>Judul</th>
                                        <th>Status</th>
                                        <th>Prioritas</th>
                                        <th>Tanggal Buat Tiket</th>
                                        <th>AKSI</th>
                                    </tr>
                                    </thead >

                                    <tbody id="assignedToMe">
                                    <tr><td colspan="10">LOADING DATA...</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    {#MY CLOSED TIKET#}
                    <div id="closedTickets" class="tab-pane fade closedTickets">

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped table-bordered table-hover tableTicket">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kategori</th>
                                        <th>Judul</th>
                                        <th>Status</th>
                                        <th>Prioritas</th>
                                        <th>Tanggal Buat Tiket</th>
                                        <th>AKSI</th>
                                    </tr>
                                    </thead >

                                    <tbody id="closedTicketList">
                                    <tr><td colspan="9">LOADING DATA...</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
                {#end tab content#}


                    {#ADD MODAL TIKET BARU#}
                    <div class="modal fade" id="newTicketModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Tambah Tiket</h4>
                                </div>

                                <div class="modal-body">
                                    <form id="formTiket">
                                        <div class="form-group">
                                            <label for="judul">Kategori</label>
                                            <select name="category" class="form-control" id="ticketCategory" style="width: 100%">
                                                <option selected disabled id="pilih">PILIH KATEGORI</option>
                                                {% for category in helpdeskCategories %}
                                                    <option value="/api/helpdesk/categories/{{ category.id }}">{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="judul">Judul</label>
                                            <input type="text" class="form-control" id="ticketTitle" name="title">
                                        </div>
                                        <div class="input-group">
                                            <label for="name">Pesan</label>
                                            <textarea name="ticketMessage" placeholder="Masukkan Pesan Anda ..." class="form-control not-ucase" id="ticketMessage" autocomplete="off" maxlength="20000" cols="150" rows="10"></textarea>
                                        </div>
                                    </form>


                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger btn-flat" id="btnSave">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal -->

                    {#DETAIL MODAL TIKET BARU#}
                    <div class="modal fade" id="detailNewTicketModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Ubah Tiket</h4>
                                </div>

                                <div class="modal-body">

                                    <form id="formTiket">

                                        <input type="hidden" name="id" id="id">

                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input type="text" class="form-control" readonly id="name" value="{{ me.fullname }}">
                                            <input type="hidden" value="/api/users/{{ me.id }}" name="client">
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Kategori</label>
                                            <select name="category" class="form-control" id="category" style="width: 100%"></select>
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Judul</label>
                                            <input type="text" class="form-control" id="title" name="title">

                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" readonly value="{{ me.email }}">
                                        </div>

                                        <div class="input-group">
                                            <label for="name">Pesan</label>
                                            <textarea name="message" placeholder="Masukkan Pesan Anda ..." class="form-control not-ucase" id="message" autocomplete="off" maxlength="20000" cols="150" rows="10"></textarea>
                                        </div>

                                        {#<div class="input-group">#}
                                            {#<label for="berkas">Berkas</label>#}
                                            {#<input type="file" id="berkas">#}
                                        {#</div>#}
                                    </form>


                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger btn-flat" id="btnUpdate">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal -->

                    {#modal forum#}
                    <div class="modal fade" id="tiketDetail" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">HELPDESK FORUM<span class="pull-right"><button type="button" class="close" data-dismiss="modal">&times;</button></span></h4>
                                </div>
                                <div class="modal-body"> <!-- start modal -->

                                    <div class="row">
                                        <div class="col-md-12" >

                                            {#detail tic inside modal forum#}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <ul class="list-group listDetail">
                                                            <li class="list-group-item">Nama Klien : </span><span class="well-sm chatTicketClient">-</span></li>
                                                            <li class="list-group-item"><span>Kategori : </span><span class="well-sm chatTicketCategory">-</span></li>
                                                            <li class="list-group-item"><span>Judul : </span><span class="well-sm chatTicketTitle">-</span></li>
                                                            <li class="list-group-item"><span>Tanggal Tiket : </span><span class="well-sm chatTicketDate">-</span></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            {#end detail tic inside modal forum#}
                                            <div class="well well-sm" align="center"><span class="fa fa-hand-o-down pull-left"></span><b>Selamat Datang di Forum Helpdesk!</b><span class="fa-hand-o-down pull-right"></span></div>

                                            <div class="box direct-chat">

                                                <div class="box-body">
                                                    <!-- Conversations are loaded here -->
                                                    <div class="direct-chat-messages" id="chatHistory">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png" class="media-object" style="width:60px">
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="pull-right"><i class="fa fa-clock-o fa-1" aria-hidden="true"></i> Hari, Tanggal dan Jam</h6>
                                                                <h4 class="media-heading">Nama Klien / Staff</h4>
                                                                <p>Isi Pesan</p>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                    </div>

                                                    <!--/.direct-chat-messages-->

                                                </div>
                                                <!-- /.box-body -->
                                                <div class="col-sm-12">
                                                    <div id="typing_on" class="clearfix text-muted visible-lg"></div>
                                                </div>
                                                <div class="box-footer">
                                                    <div class="input-group">
                                                        <input type="text" name="message" placeholder="Ketik pesan Anda ..." class="form-control not-ucase" id="chatMessage" autocomplete="off" maxlength="200" style="width: 99%">
                                                        <span class="input-group-btn">
                                                                    &nbsp;<button type="button" class="btn btn-primary btn-flat" id="sendResponse">Send</button>
                                                                    </span>
                                                    </div>
                                                </div>
                                                <!-- /.box-footer-->
                                            </div>
                                            <!--/.direct-chat -->
                                        </div>

                                        <input type="hidden" name="id" id="id">
                                    </div>

                                </div> <!-- end modal -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalDetail">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#end modal forum#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="helpdesk/tickets" class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}