{% extends 'layout.twig' %}

{% block js %}
    {#<script src="/assets/scripts/global-crud.js"></script>#}
    <script src="/assets/scripts/helpdesk-my-tickets.js"></script>

    <script>
        window.module = 'helpdesk/tickets';
        //        window.field = 'name';
        var columns = [
            'category.name',
            'title',
            'message',
            'status',
            'priority',
            'createdAt'
        ];

    </script>

{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                </div>
                <!-- /.box-header -->
    <div class="box-body">
    <input type="hidden" id="currentUser" value="{{ me.id }}">
        <button type="button" data-modal-add="helpdesk/tickets" class="btn btn-danger pull-right add-modal btn-flat" data-toggle="modal" data-target="#newTicketModal" role="dialog" style="width: 150px">Tiket Baru</button>

    <div class="panel with-nav-tabs panel-info">
        <div class="panel-heading">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#myTickets" aria-controls="home" role="tab" data-toggle="tab">ALL MY TIKET</a></li>
                <li><a href="#closedTickets" aria-controls="profile" role="tab" data-toggle="tab">CLOSED TIKET</a></li>
            {#<li><a href="#assignedTo" aria-controls="profile" role="tab" data-toggle="tab">ASSIGNED TO ME</a></li>#}
            </ul>
        </div>

                <div class="tab-content">
                {#start tab content#}

                    {#ALL MY TIKET#}
                    <div id="myTickets" class="tab-pane fade active in">

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped table-bordered table-hover tableTicket">
                                    <thead>
                                    <tr>
                                        <th width="3%">#<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="5%">Kategori<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="10%">Judul<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="20%">Pesan</th>
                                        <th width="10%">Status<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="10%">Prioritas<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="20%">Tanggal Tambah Tiket<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="5%">Aksi<span class="pull-right"></span></th>
                                    </tr>
                                    </thead >

                                    <tbody id="ticketList">
                                    <tr><td colspan="7">LOADING DATA...</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    {#MY CLOSED TIKET#}
                    <div id="closedTickets" class="tab-pane fade">

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-striped table-bordered table-hover tableTicket">
                                    <thead>
                                    <tr>
                                        <th width="3%">#<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="5%">Kategori<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="10%">Judul<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="20%">Pesan</th>
                                        <th width="10%">Status<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="10%">Prioritas<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="20%">Tanggal Tambah Tiket<span class="pull-right"><a href="#" class="fa fa-sort"></a></span></th>
                                        <th width="5%">Aksi<span class="pull-right"></span></th>
                                    </tr>
                                    </thead >

                                    <tbody id="closedTicketList">
                                    <tr><td colspan="7">LOADING DATA...</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
                {#end tab content#}


                    {#ADD MODAL TIKET BARU#}
                    <div class="modal fade" id="newTicketModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Tambah Tiket</h4>
                                </div>

                                <div class="modal-body">

                                    <form id="formTiket">

                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input type="text" class="form-control" readonly id="name" value="{{ me.fullname }}">
                                            <input type="hidden" value="/api/users/{{ me.id }}" name="client">
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Kategori</label>
                                            <select name="category" class="form-control" id="category" style="width: 100%">
                                                <option selected disabled id="pilih">PILIH KATEGORI</option>
                                                {% for category in helpdeskCategories %}

                                                    <option value="/api/helpdesk/categories/{{ category.id }}">{{ category.name }}</option>

                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Judul</label>
                                            <input type="text" class="form-control" id="title" name="title">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" readonly value="{{ me.email }}">
                                        </div>

                                        <div class="input-group">
                                            <label for="name">Pesan</label>
                                            <textarea name="message" placeholder="Masukkan Pesan Anda ..." class="form-control not-ucase" id="message" autocomplete="off" maxlength="20000" cols="150" rows="10"></textarea>
                                        </div>

                                        <div class="input-group">
                                            <label for="berkas">Berkas</label>
                                            <input type="file" id="berkas">

                                        </div>
                                    </form>


                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger btn-flat" id="btnSave">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal -->

                    {#DETAIL MODAL TIKET BARU#}
                    <div class="modal fade" id="detailNewTicketModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Tiket</h4>
                                </div>

                                <div class="modal-body">

                                    <form id="formTiket">

                                        <input type="hidden" name="id" id="id">

                                        <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input type="text" class="form-control" readonly id="name" value="{{ me.fullname }}">
                                            <input type="hidden" value="/api/users/{{ me.id }}" name="client">
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Kategori</label>
                                            <select name="category" class="form-control" id="category" style="width: 100%"></select>
                                        </div>

                                        <div class="form-group">
                                            <label for="judul">Judul</label>
                                            <input type="text" class="form-control" id="title" name="title">

                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" readonly value="{{ me.email }}">
                                        </div>

                                        <div class="input-group">
                                            <label for="name">Pesan</label>
                                            <textarea name="message" placeholder="Masukkan Pesan Anda ..." class="form-control not-ucase" id="message" autocomplete="off" maxlength="20000" cols="150" rows="10"></textarea>
                                        </div>

                                        {#<div class="input-group">#}
                                            {#<label for="berkas">Berkas</label>#}
                                            {#<input type="file" id="berkas">#}
                                        {#</div>#}
                                    </form>


                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger btn-flat" id="btnUpdate">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal -->

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="helpdesk/tickets" class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}