{% extends 'layout.twig' %}

{% block js %}
    <script type="text/javascript" src="/assets/notification/push_notification.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Document.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Event.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Storage.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Grid.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript" src="/assets/scripts/Notification/Notification.js"></script>
    <script type="text/javascript">
        Bisnis.init(Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
            if (0 < staff.length) {
                Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', 1);
                Bisnis.Util.Storage.store('staff', JSON.stringify(staff[0]));
                Bisnis.Helpdesk.Ticket.fetchByStaff(staff[0].id, parseInt(Bisnis.Util.Storage.fetch('TICKET_CURRENT_PAGE')), '#staffTicketPagination');
            }

            Bisnis.Notification.enableTo('/api/users/{{ me.id }}');
        }));

        Bisnis.Util.Event.bind('click', '.allTickets', function () {
            var savedStaff = JSON.parse(Bisnis.Util.Storage.fetch('staff'));
            if (null === savedStaff || 'undefined' === typeof savedStaff) {
                Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
                    if (0 < staff.length) {
                        Bisnis.Helpdesk.Ticket.fetchClosable({
                            'category.id': staff[0].category.id,
                            'page': parseInt(Bisnis.Util.Storage.fetch('TICKET_CURRENT_PAGE'))
                        }, '#allTicketList', false, '#allTicketPagination');
                    }
                });
            } else {
                Bisnis.Helpdesk.Ticket.fetchClosable({
                    'category.id': savedStaff.category.id,
                    'page': parseInt(Bisnis.Util.Storage.fetch('TICKET_CURRENT_PAGE'))
                }, '#allTicketList', false, '#allTicketPagination');
            }
        });

        Bisnis.Util.Event.bind('click', '.closedTickets', function () {
            var savedStaff = JSON.parse(Bisnis.Util.Storage.fetch('staff'));
            if (null === savedStaff || 'undefined' === typeof savedStaff) {
                Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
                    if (0 < staff.length) {
                        Bisnis.Helpdesk.Ticket.fetchClosed({
                            'category.id': staff[0].category.id,
                            'page': parseInt(Bisnis.Util.Storage.fetch('TICKET_CURRENT_PAGE'))
                        }, '#closedTicketList', false, '#closedTicketPagination');
                    }
                });
            } else {
                Bisnis.Helpdesk.Ticket.fetchClosed({
                    'category.id': savedStaff.category.id,
                    'page': parseInt(Bisnis.Util.Storage.fetch('TICKET_CURRENT_PAGE'))
                }, '#closedTicketList', false, '#closedTicketPagination');
            }
        });

        Bisnis.Util.Event.bind('click', '#staffTicketPagination .pagePrevious', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#staffTicketPagination .pageNext', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#staffTicketPagination .pageFirst', function () {
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE',  1);
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#staffTicketPagination .pageLast', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#allTicketPagination .pagePrevious', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#allTicketPagination .pageNext', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#allTicketPagination .pageFirst', function () {
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE',  1);
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#allTicketPagination .pageLast', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#closedTicketPagination .pagePrevious', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#closedTicketPagination .pageNext', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#closedTicketPagination .pageFirst', function () {
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE',  1);
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#closedTicketPagination .pageLast', function () {
            var that = this;
            Bisnis.Util.Storage.store('TICKET_CURRENT_PAGE', parseInt(Bisnis.Util.Document.getDataValue(that, 'page')));
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '.assignToMe', function () {
            var savedStaff = JSON.parse(Bisnis.Util.Storage.fetch('staff'));
            if (null === savedStaff || 'undefined' === typeof savedStaff) {
                Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
                    if (0 < staff.length) {
                        Bisnis.Helpdesk.Ticket.fetchByStaff(staff[0].id);
                    }
                });
            } else {
                Bisnis.Helpdesk.Ticket.fetchByStaff(savedStaff.id);
            }
        });

        Bisnis.Util.Event.bind('click', '.assign', function () {
            var that = this;

            Bisnis.Util.Storage.store('ticketId', Bisnis.Util.Document.getDataValue(that, 'ticket-id'));

            Bisnis.Helpdesk.Staff.fetchByCategory(Bisnis.Util.Document.getDataValue(that, 'ticket-category-id'), function (staffList) {
                var staffOption = '<option selected disabled class="text-muted">PILIH STAFF YANG AKAN DITUGASKAN</option>';
                Bisnis.each(function (index, value) {
                    staffOption = staffOption + '<option value="/api/helpdesk/staffs/' + value.id + '">' + value.fullname + '</option>';
                }, staffList);

                Bisnis.Util.Document.putHtml('#staff', staffOption);
                Bisnis.Util.Style.modifySelect('#staff');
            });

            Bisnis.Util.Dialog.showModal('.ticketAssignment');
        });

        Bisnis.Util.Event.bind('click', '.changePriorityTicket', function () {
            var that = this;
            Bisnis.Util.Storage.store('ticketId', Bisnis.Util.Document.getDataValue(that, 'ticket-id'));
            Bisnis.Util.Style.modifySelect('#priority');
            Bisnis.Util.Dialog.showModal('.ticketChangePriority');
        });

        Bisnis.Util.Event.bind('click', '.detail', function () {
            var that = this;
            Bisnis.Util.Storage.store('ticketId', Bisnis.Util.Document.getDataValue(that, 'ticket-id'));
            Bisnis.Helpdesk.Ticket.markRead(Bisnis.Util.Storage.fetch('ticketId'), function () {
                Bisnis.Helpdesk.Ticket.viewByTicket(Bisnis.Util.Storage.fetch('ticketId'));
                Bisnis.Util.Dialog.showModal('#tiketDetail');
                Bisnis.Helpdesk.Ticket.markReadClientResponseByTicket(Bisnis.Util.Storage.fetch('ticketId'));
            });
        });

        Bisnis.Util.Event.bind('click', '#sendResponse', function () {
            var ticketId = Bisnis.Util.Storage.fetch('ticketId');
            Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                var message = Bisnis.Util.Document.getValue('#chatMessage');
                var staffId = ticket.staff.id;
                Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
                    if (0 < staff.length) {
                        staffId = staff[0].id;
                    }

                    Bisnis.Helpdesk.Ticket.sendReponse([
                        { name: 'ticket', value: '/api/helpdesk/tickets/' + ticketId },
                        { name: 'staff', value: '/api/helpdesk/staffs/' + staffId },
                        { name: 'message', value: message }
                    ], function () {
                        Bisnis.Util.Document.putHtml('#chatHistory', '');
                        Bisnis.Helpdesk.Ticket.viewByTicket(ticketId);
                        Bisnis.Util.Document.putValue('#chatMessage', '');
                        Bisnis.Helpdesk.Ticket.markReadClientResponseByTicket(ticketId);
                        Bisnis.Notification.send(
                            'HELPDESK',
                            '/api/users/' + ticket.client.id,
                            '/api/helpdesk/staffs/' + staffId,
                            'Tiket ' + ticket.title + ' mendapatkan response baru dari admin.'
                        );
                    });
                });
            });
        });

        Bisnis.Util.Event.bind('click', '#assignTo', function () {
            var staffUri = Bisnis.Util.Document.getValue('#staff');
            var ticketId = Bisnis.Util.Storage.fetch('ticketId');

            if ('' === staffUri || '' === ticketId || null === staffUri || null === ticketId) {
                console.log('invalid assignment');
            } else {
                Bisnis.Helpdesk.Ticket.assignTo(ticketId, staffUri, function () {
                    Bisnis.Util.Dialog.hideModal('.ticketAssignment');
                    Bisnis.Util.Event.triggerClick('#ticketTab .active');

                    Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                        Bisnis.Notification.send(
                            'HELPDESK',
                            '/api/users/' + ticket.client.id,
                            '/api/helpdesk/staffs/' + ticket.staff.id,
                            'Tiket ' + ticket.title + ' sedang ditangani oleh ' + ticket.staff.fullname + '.'
                        );
                    });
                });
            }
        });

        Bisnis.Util.Event.bind('click', '#changePriority', function () {
            var ticketId = Bisnis.Util.Storage.fetch('ticketId');
            var priority = Bisnis.Util.Document.getValue('#priority');

            Bisnis.Util.Dialog.hideModal('.ticketChangePriority');
            Bisnis.Helpdesk.Ticket.changePriority(ticketId, priority);
            Bisnis.Util.Event.triggerClick('#ticketTab .active');

            Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                Bisnis.Notification.send(
                    'HELPDESK',
                    '/api/users/' + ticket.client.id,
                    '/api/helpdesk/staffs/' + ticket.staff.id,
                    'Tiket ' + ticket.title + ' telah diubah prioritasnya menjadi kode <b>' + priority + '</b>.'
                );
            });
        });

        Bisnis.Util.Event.bind('click', '#closeModalDetail', function () {
            Bisnis.Util.Event.triggerClick('#ticketTab .active');
        });

        Bisnis.Util.Event.bind('click', '#resolveModalDetail', function () {
            var ticketId = Bisnis.Util.Storage.fetch('ticketId');
            Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Anda yakin akan semua pekerjaan tiket ini sudah selesai?', function (result) {
                if (result) {
                    Bisnis.Helpdesk.Ticket.resolve(ticketId);
                    Bisnis.Util.Event.triggerClick('#ticketTab .active');

                    Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                        Bisnis.Notification.send(
                            'HELPDESK',
                            '/api/users/' + ticket.client.id,
                            '/api/helpdesk/staffs/' + ticket.staff.id,
                            'Tiket ' + ticket.title + ' telah selesai ditangani.'
                        );
                    });
                }
            });
        });

        Bisnis.Util.Event.bind('click', '#onprogressModalDetail', function () {
            var ticketId = Bisnis.Util.Storage.fetch('ticketId');
            Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Anda yakin akan mengeset tiket menjadi sedang dalam pengerjaan?', function (result) {
                if (result) {
                    Bisnis.Helpdesk.Ticket.markOnProgress(ticketId);
                    Bisnis.Util.Event.triggerClick('#ticketTab .active');
                }
            });
        });
        
        Bisnis.Util.Event.bind('click', '.closeTicket', function () {
            var that = this;
            var ticketId = Bisnis.Util.Document.getDataValue(that, 'ticket-id');
            Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Anda yakin akan menutup tiket ini?', function (result) {
                if (result) {
                    Bisnis.Helpdesk.Ticket.close(ticketId);
                    Bisnis.Util.Event.triggerClick('#ticketTab .active');

                    Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                        Bisnis.Notification.send(
                            'HELPDESK',
                            '/api/users/' + ticket.client.id,
                            '/api/helpdesk/staffs/' + ticket.staff.id,
                            'Tiket ' + ticket.title + ' dinonaktifkan oleh Admin.'
                        );
                    });
                }
            });
        });

        Bisnis.Util.Event.bind('click', '.reopenTicket', function () {
            var that = this;
            var ticketId = Bisnis.Util.Document.getDataValue(that, 'ticket-id');
            Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Anda yakin akan membuka kembali tiket ini?', function (result) {
                if (result) {
                    Bisnis.Helpdesk.Ticket.markOnProgress(ticketId);
                    Bisnis.Util.Event.triggerClick('#ticketTab .active');

                    Bisnis.Helpdesk.Ticket.fetch(ticketId, function (ticket) {
                        Bisnis.Notification.send(
                            'HELPDESK',
                            '/api/users/' + ticket.client.id,
                            '/api/helpdesk/staffs/' + ticket.staff.id,
                            'Tiket ' + ticket.title + ' diaktifkan kembali oleh Admin.'
                        );
                    });
                }
            });
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul id="ticketTab" class="nav nav-tabs" role="tablist">
                                <li class="active assignToMe"><a href="#assignedTo" aria-controls="home" role="tab" data-toggle="tab">TIKETKU</a></li>
                                <li class="closedTickets"><a href="#closedTickets" aria-controls="profile" role="tab" data-toggle="tab">CLOSED TIKET</a></li>
                                <li class="allTickets"><a href="#allTickets" aria-controls="profile" role="tab" data-toggle="tab">SEMUA TIKET</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            {#ASSIGNED TO ME tiket#}
                            <div id="assignedTo" role="tabpanel" class="tab-pane fade active in">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th>Klien</th>
                                                <th>Staff</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>
                                                <th>Aksi</th>
                                            </tr>
                                            </thead>
                                            <tbody id="assignedToMe">
                                                <tr>
                                                    <td colspan="9">LOADING DATA...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <ul id="staffTicketPagination" class="pagination pagination-sm no-margin pull-right"></ul>
                                </div>
                            </div>
                            {#end ASSIGNED TO ME tiket#}

                            {#closed tiket#}
                            <div id="closedTickets" role="tabpanel" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th>Klien</th>
                                                <th>Staff</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>
                                                <th>Aksi</th>
                                            </tr>
                                            </thead>
                                            <tbody id="closedTicketList">
                                                <tr>
                                                    <td colspan="9">LOADING DATA...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <ul id="closedTicketPagination" class="pagination pagination-sm no-margin pull-right"></ul>
                                </div>
                            </div>
                            {#end closed tiket#}

                            {#<-- semua tiket#}
                            <div id="allTickets" role="tabpanel" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th>Klien</th>
                                                <th>Staff</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>
                                                <th>Aksi</th>
                                            </tr>
                                            </thead>
                                            <tbody id="allTicketList">
                                            <tr><td colspan="9">LOADING DATA...</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <ul id="allTicketPagination" class="pagination pagination-sm no-margin pull-right"></ul>
                                </div>
                            </div>
                            {#<-- end semua tiket#}
                            </div>
                            {#<-- end tab content#}
                    </div>
                    {#<-- end panel with nav tabs#}

                        {#modal forum#}
                    <div class="modal fade" id="tiketDetail" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Ticket Detail</h4>
                                </div>
                                <div class="modal-body"> <!-- start modal -->
                                    <div class="row">
                                        <div class="col-md-12" >
                                            {#detail tic inside modal forum#}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <ul class="list-group listDetail">
                                                            <li class="list-group-item">Nama Klien : </span><span class="well-sm chatTicketClient">-</span></li>
                                                            <li class="list-group-item"><span>Kategori : </span><span class="well-sm chatTicketCategory">-</span></li>
                                                            <li class="list-group-item"><span>Judul : </span><span class="well-sm chatTicketTitle">-</span></li>
                                                            <li class="list-group-item"><span>Tanggal Tiket : </span><span class="well-sm chatTicketDate">-</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {#end detail tic inside modal forum#}
                                            <div class="box direct-chat">
                                                <div class="box-body">
                                                    <!-- Conversations are loaded here -->
                                                    <div class="direct-chat-messages" id="chatHistory">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png" class="media-object" style="width:60px">
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="pull-right"><i class="fa fa-clock-o fa-1" aria-hidden="true"></i> Hari, Tanggal dan Jam</h6>
                                                                <h4 class="media-heading">Nama Klien / Staff</h4>
                                                                <p>Isi Pesan</p>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                    </div>
                                                </div>
                                                <div class="box-footer">
                                                    <div class="input-group">
                                                        <input type="text" name="message" placeholder="Ketik pesan Anda ..." class="form-control not-ucase" id="chatMessage" autocomplete="off" maxlength="200" style="width: 99%">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary btn-flat" id="sendResponse">Send</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- /.box-footer-->
                                            </div>
                                            <!--/.direct-chat -->
                                        </div>

                                        <input type="hidden" name="id" id="id">
                                    </div>

                                </div> <!-- end modal -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" id="onprogressModalDetail">Mark Work On Progress</button>
                                    <button type="button" class="btn btn-success pull-left" data-dismiss="modal" id="resolveModalDetail">Resolve</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalDetail">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {#DETAIL MODAL KONFIRMASI TIKET#}
                    <div class="modal ticketAssignment" role="dialog" id="ticketAssignment">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form id="formKonfirmasiTiket">
                                        <div class="box-body row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="judul">Pilih Staff</label>
                                                    <select name="staff" class="form-control" id="staff" style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-flat btn-danger" id="assignTo">Assign Ticket</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                    {#DETAIL MODAL KONFIRMASI TIKET#}
                    <div class="modal ticketChangePriority" role="dialog" id="ticketChangePriority">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form id="formKonfirmasiTiket">
                                        <div class="box-body row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="judul">Pilih Prioritas</label>
                                                    <select name="priority" class="form-control" id="priority" style="width: 100%">
                                                        <option selected disabled class="text-muted">PILIH PRIORITAS</option>
                                                        <option value="low">Kurang Mendesak</option>
                                                        <option value="normal">Normal</option>
                                                        <option value="urgent">Mendesak</option>
                                                        <option value="very_urgent">Sangat Mendesak</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-flat btn-danger" id="changePriority">Ubah Prioritas</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}