{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/accountingjs/accounting.min.js"></script>
    <script src="/assets/treeview/treed.js"></script>
    <script src="/assets/scripts/adv-order-sheet.js"></script>
    <script src="/assets/listjs/list.min.js"></script>
    <script src="/assets/scripts/adv-order-detail.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="row" id="orderForm">
                        <input type="hidden" name="id" value="{{ order.id }}">
                            <input type="hidden" name="orderInvoicedAt" value="{{ order.invoicedAt }}">
                        <input type="hidden" name="orderBookedAt" value="{{ order.bookedAt }}">
                        <div class="col-md-6 row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Order Dari</label>
                                    <select disabled name="orderFrom" id="orderFrom" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH PERWAKILAN</option>
                                        {% for rep in representatives %}
                                            {% if order.orderFrom.id == rep.id %}
                                                <option selected value="/api/representatives/{{ rep.id }}">{{ rep.code }} - {{ rep.name }}</option>
                                            {% else %}
                                                <option value="/api/representatives/{{ rep.id }}">{{ rep.code }} - {{ rep.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Order</label>
                                    <input type="text" readonly name="orderNumber" value="{{ order.orderNumber }}" id="orderNumber" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Surat Order</label>
                                    <input type="text" name="orderLetter" value="{{ order.orderLetter }}" id="orderLetter" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Booking</label>
                                    <div class='input-group date' id='dtBookedAt'>
                                        <input type='text' readonly id="inputBookedAt" class="form-control" />
                                        <input type='hidden' name="bookedAt" id="bookedAt" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Faktur</label>
                                    <div class='input-group date' id='dtInvoicedAt'>
                                        <input type='text' readonly id="inputInvoicedAt" class="form-control" />
                                        <input type='hidden' name="invoicedAt" id="invoicedAt" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Pemasang</label>
                                    <div class="input-group" id="pemasang">
                                        <input type="text" readonly value="{{ order.customer.name }}" name="pemasang" class="form-control">
                                        <input type="hidden" name="customer" id="customer" value="{% if order.customer.id is defined %}/api/advertising/customers/{{ order.customer.id }}{% endif %}" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Alamat</label>
                                    <input readonly id="customerAddress" value="{{ order.customer.address }}" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Klien</label>
                                    <div class="input-group" id="klien">
                                        <input type="text" readonly name="klien" value="{{ order.client.name }}" class="form-control">
                                        <input type="hidden" name="client" id="client" value="{% if order.client.id is defined %}/api/advertising/customers/{{ order.client.id }}{% endif %}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Cetak Di Faktur</label>
                                    <select type="text" class="form-control" name="printAs" id="printAs" style="width: 100%">
                                        <option selected disabled>PILIH</option>
                                        <option {% if order.printAs == 'client' %} selected {% endif %} value="client">KLIEN</option>
                                        <option {% if order.printAs == 'customer' %} selected {% endif %} value="customer">PEMASANG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Surat Perjanjian</label>
                                    <input type="text" name="contractLetter" id="contractLetter" value="{{ order.contractLetter }}" class="form-control">
                                    <p class="help-block">Dipilih jika terdapat perjanjian kerjasama</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Iklan</label>
                                    <div class="input-group" id="jenisIklan">
                                        <input type="text" readonly name="jenisIklan" value="{{ order.specification.name }}" class="form-control">
                                        <input type="hidden" name="specification" value="{% if order.specification.id is defined %}/api/advertising/specifications/{{ order.specification.id }}"{% endif %} id="specification" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipe Iklan</label>
                                    <div class="input-group" id="tipeIklan">
                                        <input type="text" readonly name="tipeIklan" value="{{ order.type.name }}" class="form-control">
                                        <input type="hidden" name="type" value="{% if order.type.id is defined %}/api/advertising/types/{{ order.type.id }}"{% endif %} id="type" >
                                        <span class="input-group-btn">
                                            <button disabled class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nama PIC</label>
                                    <div class="input-group" id="pic">
                                        <input type="text" name="pic" value="{{ order.accountExecutive.name }}" readonly class="form-control">
                                        <input type="hidden" id="accountExecutive" value="{% if order.accountExecutive.id is defined %}/api/advertising/account-executives/{{ order.accountExecutive.id }}"{% endif %} name="accountExecutive">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Pasang Di</label>
                                    <div class="input-group" id="mediaIklan">
                                        <input type="text" readonly name="mediaIklan" value="{{ order.media.name }}" class="form-control">
                                        <input type="hidden" id="media" name="media" value="{% if order.media.id is defined %}/api/advertising/media/{{ order.media.id }}{% endif %}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Kategori Iklan</label>
                                    <div class="input-group" id="category">
                                        <input type="text" readonly id="categoryValue" value="{{ categories }}" class="form-control">
                                        <input type="hidden" name="category" value="{% if order.category.id is defined %}/api/advertising/categories/{{ order.category.id }}{% endif %}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Judul Iklan</label>
                                    <input type="text" name="title" value="{{ order.title }}" id="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Ukuran</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" value="{{ order.columnSize }}" name="columnSize" id="columnSize" min="1" class="form-control">
                                                <div class="input-group-addon">kolom</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="text-bold" style="margin-left: 13px;font-size: 16px;margin-top: 5px;">X</div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" name="milimeterSize" value="{{ order.milimeterSize }}" id="milimeterSize" min="1" class="form-control">
                                                <div class="input-group-addon">mm/baris</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="">Edisi Terbit</label>
                                            <button class="btn btn-default btn-block btn-flat" id="edisiTerbitButton">Edisi Terbit</button>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Terbit</label>
                                            <div class="input-group">
                                                <input type="number" name="totalPost" value="{{ order.totalPost }}" id="totalPost" min="1" class="form-control">
                                                <div class="input-group-addon">kali</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Kontrak</label>
                                            <div class="input-group">
                                                <input type="number" name="contractDuration" value="{{ order.contractDuration }}" id="contractDuration" min="0" class="form-control">
                                                <div class="input-group-addon">bulan</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Tarif Iklan</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.basePrice }}" id="basePrice" class="form-control">
                                                <input type="hidden" name="basePrice" value="{{ order.basePrice }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN %</label>
                                            <div class="input-group">
                                                <input type="number" name="taxPercentage" value="{{ order.taxPercentage }}" id="taxPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.taxValue }}" id="taxValue" class="form-control">
                                                <input type="hidden" name="taxValue" value="{{ order.taxValue }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Plus Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" value="{{ order.surchargePercentage }}" name="surchargePercentage" id="surchargePercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Plus Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.surchargeValue }}" id="surchargeValue" class="form-control">
                                                <input type="hidden" name="surchargeValue" value="{{ order.surchargeValue }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Min Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" value="{{ order.minDiscountPercentage }}" name="minDiscountPercentage" id="minDiscountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Min Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.minDiscountValue }}" id="minDiscountValue" class="form-control">
                                                <input type="hidden" value="{{ order.minDiscountValue }}" name="minDiscountValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" name="discountPercentage" value="{{ order.discountPercentage }}" id="discountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.discountValue }}" id="discountValue" class="form-control">
                                                <input type="hidden" name="discountValue" value="{{ order.discountValue }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">NPB Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" value="{{ order.npbDiscountPercentage }}" name="npbDiscountPercentage" id="npbDiscountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">NPB Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.npbDiscountValue }}" id="npbDiscountValue" class="form-control">
                                                <input type="hidden" value="{{ order.npbDiscountValue }}" name="npbDiscountValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Cashback %</label>
                                            <div class="input-group">
                                                <input type="number" name="cashBackPercentage" value="{{ order.cashBackPercentage }}" id="cashBackPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Cashback Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.cashBackValue }}" id="cashBackValue" class="form-control">
                                                <input type="hidden" name="cashBackValue" value="{{ order.cashBackValue }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Jumlah Bayar</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" value="{{ order.totalAmount }}" id="totalAmount" readonly class="form-control">
                                                <input type="hidden" name="totalAmount" value="{{ order.totalAmount }}">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Quantity</label>
                                            <div class="input-group">
                                                <input type="number" name="quantity" value="{{ order.quantity }}" id="quantity" min="1" class="form-control">
                                                <div class="input-group-addon">buah</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sx-12">
                                            <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="padding-right: 15px;">
                                            <button id="hitung" class="btn btn-primary btn-flat pull-right">HITUNG</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Netto</label>
                                    <div class="bg-aqua" style="padding: 10px; height: 133px;">
                                        <div style="font-size: 40px;font-weight: bold;" id="netto">
                                            Rp 0,00
                                        </div>
                                        <input type="hidden" id="nettoRp">
                                        <div style="font-size: 21px; font-style: italic;" id="terbilangNetto">
                                            Nol Rupiah
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Bayar</label>
                                    <select name="paymentMethod" id="paymentMethod" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH JENIS BAYAR</option>
                                        {% for jb in paymentMethod %}
                                            {% if order.paymentMethod.id == jb.id %}
                                                <option selected value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                            {% else %}
                                                <option value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Sisipan</label>
                                    <div class="input-group" id="sisipan" style="position: relative;">
                                        <button id="clearText" class="btn btn-xs btn-danger" style="position: absolute; right: 44px; top: 6px; z-index: 1041;">clear</button>
                                        <input type="text" readonly name="sisipan" value="{{ order.sirculationArea.name }}" class="form-control">
                                        <input type="hidden" id="sirculationArea" value="{% if order.sirculationArea.id is defined %}/api/cities/{{ order.sirculationArea.id }}"{% endif %} name="sirculationArea">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Materi</label>
                                    <input type="text" name="materialDescription" value="{{ order.materialDescription }}" id="materialDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Order</label>
                                    <input type="text" name="orderDescription" value="{{ order.orderDescription }}" id="orderDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="printInvoiceAs">Status Detail</label>
                                    <select class="form-control" id="printInvoiceAs" name="printInvoiceAs">
                                        <option disabled selected>PILIH</option>
                                        <option value="n" {% if order.printInvoiceAs == 'n' %}selected{% endif %}>NORMAL</option>
                                        <option value="p" {% if order.printInvoiceAs == 'p' %}selected{% endif %}>PECAH</option>
                                        <option value="b" {% if order.printInvoiceAs == 'b' %}selected{% endif %}>GABUNG</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-2">
                        <button class="btn btn-flat btn-danger pull-right btn-block" id="btn-order-update" disabled>SIMPAN</button>
                    </div>
                    <div class="col-xs-5"></div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Pemasang Modal#}
    <div id="pemasangModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Pemasang Iklan</h4>
                    <small class="text-success">Dobel klik Pemasang Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Pemasang Modal#}

    {#Klien Modal#}
    <div id="klienModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Klien</h4>
                    <small class="text-success">Dobel klik Klien untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KLIEN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Klien Modal#}

    {#Jenis Iklan#}
    <div id="jenisIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Jenis Iklan</h4>
                    <small class="text-success">Dobel klik Jenis Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI JENIS IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Jenis Iklan#}

    {#Tipe Iklan#}
    <div id="tipeIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Tipe Iklan</h4>
                    <small class="text-success">Dobel klik Tipe Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI TIPE IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Tipe Iklan#}

    {#Media Iklan#}
    <div id="mediaIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Media Iklan</h4>
                    <small class="text-success">Dobel klik Media Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI MEDIA IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Media Iklan#}

    {#Category#}
    <div id="categoryModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Kategori</h4>
                    <small class="text-success">Letakkan kursor pada kategori yang dipilih</small>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Category#}

    {#PIC / Account Executive#}
    <div id="PICModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama PIC</h4>
                    <small class="text-success">Dobel klik Nama PIC untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA PIC">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#PIC / Account Executive#}

    {#Sisipan#}
    <div id="sisipanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama Kota</h4>
                    <small class="text-success">Dobel klik Nama Kota untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KOTA">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#Sisipan#}

    {#Edisi Terbit#}
    <div id="edisiTerbitModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edisi Terbit</h4>
                </div>
                <div class="modal-body" id="DatesList">
                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="5%">No</th>
                                <th style="display: none">ID</th>
                                <th width="80%">Tanggal</th>
                                <th width="5%"><span class="pull-right">Action</span></th>
                            </tr>
                            </thead>

                            <tbody class="list" style="text-transform: uppercase">
                                <tr id="gettingData"><td colspan="4">Getting data...</td></tr>
                            </tbody>
                        </table>
                        <form id="dateForm"></form>
                    </div>

                    <div class="box-footer row" style="border-top: none">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="addDate" readonly class="form-control input-sm">
                                <span class="input-group-btn">
                                    <button id="addDateBtn" class="btn btn-primary btn-sm btn-flat" type="button">TAMBAHKAN</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="pagination pagination-sm no-margin pull-right"></ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="update-edisi-terbit" class="btn btn-flat btn-danger">Save</button>
                </div>
            </div>

        </div>
    </div>
    {#Edisi Terbit#}
{%- endblock -%}