{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/adv-order-new.js"></script>
    <script>
        $('#dtInvoicedAt, #inputInvoicedAt').datetimepicker({
            locale: 'id',
            defaultDate: '{{ order.invoicedAt }}'
        }).on('dp.change', function(e){
            var tgl = e.date.format('YYYY-MM-DD HH:mm:ss');
            $('#invoicedAt').val(tgl);
        });
        idFormatInputInvoicedAt = $('#inputInvoicedAt').val();
        $('#invoicedAt').val(moment(idFormatInputInvoicedAt, 'DD/MM/YYYY HH.mm').format('YYYY-MM-DD HH:mm:ss'));

        $('#dtBookedAt, #inputBookedAt').datetimepicker({
            locale: 'id',
            defaultDate: '{{ order.bookedAt }}'
        }).on('dp.change', function(e){
            var tgl = e.date.format('YYYY-MM-DD HH:mm:ss');
            $('#bookedAt').val(tgl);
        });
        idFormatInputBookedAt = $('#inputInvoicedAt').val();
        $('#bookedAt').val(moment(idFormatInputBookedAt, 'DD/MM/YYYY HH.mm').format('YYYY-MM-DD HH:mm:ss'));

        getJumlahBayar();
        getNetto();

        $(document).on('click', '#btn-order-update', function () {
            var id = $('input[name="id"]').val();
            $.ajax({
                url: '/api',
                type: 'POST',
                data: {
                    module: 'advertising/orders/' + id,
                    method: 'PUT',
                    params: $('#orderForm').serializeArray()
                },
                success: function (data, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        bootbox.alert({
                            message: "SUKSES MEMPERBARUI ORDER",
                            animate: false,
                            buttons: {
                                ok: {
                                    className: 'btn-danger btn-flat'
                                }
                            },
                            callback: function (result) {
                                window.location.href = '/advertising/orders';
                            }
                        });
                    } else {
                        bootbox.alert({
                            message: "GAGAL MEMPERBARUI ORDER",
                            animate: false,
                            buttons: {
                                ok: {
                                    className: 'btn-danger btn-flat'
                                }
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert({
                        message: "GAGAL MEMPERBARUI ORDER",
                        animate: false,
                        buttons: {
                            ok: {
                                className: 'btn-danger btn-flat'
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="row" id="orderForm">
                        <input type="hidden" name="id" value="{{ order.id }}">
                        <div class="col-md-6 row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Order Dari</label>
                                    <select name="orderFrom" id="orderFrom" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH PERWAKILAN</option>
                                        {% for rep in representatives %}
                                            {% if order.orderFrom.id == rep.id %}
                                                <option selected value="/api/representatives/{{ rep.id }}">{{ rep.code }} - {{ rep.name }}</option>
                                            {% else %}
                                                <option value="/api/representatives/{{ rep.id }}">{{ rep.code }} - {{ rep.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Order</label>
                                    <input type="text" name="orderNumber" value="{{ order.orderNumber }}" id="orderNumber" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Surat Order</label>
                                    <input type="text" name="orderLetter" value="{{ order.orderLetter }}" id="orderLetter" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Booking</label>
                                    <div class='input-group date' id='dtBookedAt'>
                                        <input type='text' id="inputBookedAt" class="form-control" />
                                        <input type='hidden' name="bookedAt" id="bookedAt">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Faktur</label>
                                    <div class='input-group date' id='dtInvoicedAt'>
                                        <input type='text' id="inputInvoicedAt" class="form-control" />
                                        <input type='hidden' name="invoicedAt" id="invoicedAt"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Pemasang</label>
                                    <div class="input-group" id="pemasang">
                                        <input type="text" readonly value="{{ order.customer.name }}" name="pemasang" class="form-control">
                                        <input type="hidden" name="customer" id="customer" value="/api/advertising/customers/{{ order.customer.id }}" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Alamat</label>
                                    <input readonly id="customerAddress" value="{{ order.customer.address }}" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Klien</label>
                                    <div class="input-group" id="klien">
                                        <input type="text" readonly name="klien" value="{{ order.client.name }}" class="form-control">
                                        <input type="hidden" name="client" id="client" value="/api/advertising/customers/{{ order.client.id }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Cetak Di Faktur</label>
                                    <select type="text" class="form-control" name="printAs" id="cetakDiFaktur" style="width: 100%">
                                        <option selected disabled>PILIH</option>
                                        <option {% if order.printAs == 'client' %} selected {% endif %} value="client">KLIEN</option>
                                        <option {% if order.printAs == 'customer' %} selected {% endif %} value="customer">PEMASANG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Surat Perjanjian</label>
                                    <input type="text" name="contractLetter" value="{{ order.contractLetter }}" class="form-control">
                                    <p class="help-block">Dipilih jika terdapat perjanjian kerjasama</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Iklan</label>
                                    <div class="input-group" id="jenisIklan">
                                        <input type="text" readonly name="jenisIklan" value="{{ order.specification.name }}" class="form-control">
                                        <input type="hidden" name="specification" value="/api/advertising/specifications/{{ order.specification.id }}" id="specification" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Emiten</label>
                                    <div class="input-group" id="emiten">
                                        <input type="text" readonly name="emiten" value="{{ order.category.parent.parent.name }}" class="form-control">
                                        <input type="hidden" id="category1" value="{{ order.category.parent.parent.id }}" name="category1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Nama PIC</label>
                                    <div class="input-group" id="pic">
                                        <input type="text" name="pic" value="{{ order.accountExecutive.name }}" readonly class="form-control">
                                        <input type="hidden" id="accountExecutive" value="/api/advertising/account-executives/{{ order.accountExecutive.id }}" name="accountExecutive">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipe Iklan</label>
                                    <div class="input-group" id="tipeIklan">
                                        <input type="text" readonly name="tipeIklan" value="{{ order.type.name }}" class="form-control">
                                        <input type="hidden" name="type" value="/api/advertising/types/{{ order.type.id }}" id="type" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Pasang Di</label>
                                    <div class="input-group" id="mediaIklan">
                                        <input type="text" readonly name="mediaIklan" value="{{ order.media.name }}" class="form-control">
                                        <input type="hidden" id="media" name="media" value="/api/advertising/media/{{ order.media.id }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sektor</label>
                                    <div class="input-group" id="sektor">
                                        <input type="text" readonly name="sektor" value="{{ order.category.parent.name }}" class="form-control">
                                        <input type="hidden" id="category2" value="{{ order.category.parent.id }}" name="category2">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sub Sektor</label>
                                    <div class="input-group" id="sub-sektor">
                                        <input type="text" readonly name="sub-sektor" value="{{ order.category.name }}" class="form-control">
                                        <input type="hidden" id="category" value="/api/advertising/categories/{{ order.category.id }}" name="category">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Judul Iklan</label>
                                    <input type="text" name="title" value="{{ order.title }}" id="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Ukuran</label>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="input-group">
                                                <input type="number" value="{{ order.columnSize }}" name="columnSize" id="columnSize" min="1" class="form-control">
                                                <div class="input-group-addon">kolom</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="text-bold" style="margin-left: 13px;font-size: 16px;margin-top: 5px;">X</div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="input-group">
                                                <input type="number" name="milimeterSize" value="{{ order.milimeterSize }}" id="milimeterSize" min="1" class="form-control">
                                                <div class="input-group-addon">mm/baris</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="">Terbit</label>
                                            <div class="input-group">
                                                <input type="number" name="totalPost" value="{{ order.totalPost }}" id="totalPost" min="1" class="form-control">
                                                <div class="input-group-addon">kali</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Kontrak</label>
                                            <div class="input-group">
                                                <input type="number" name="contractDuration" value="{{ order.contractDuration }}" id="contractDuration" min="0" class="form-control">
                                                <div class="input-group-addon">bulan</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Edisi Terbit</label>
                                            <button class="btn btn-default btn-block btn-flat" id="edisiTerbitButton"><i class="fa fa-pencil-square-o"></i> Set Edisi Terbit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Tarif Iklan</label>
                                            <input type="text" name="basePrice" value="{{ order.basePrice }}" id="basePrice" class="form-control">
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Diskon Rp</label>
                                            <input type="number" name="discountValue" value="{{ order.discountValue }}" id="discountValue" min="0" class="form-control">
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" name="discountPercentage" value="{{ order.discountPercentage }}" id="discountPercentage" min="0" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">PPN Rp</label>
                                            <input type="number" name="taxValue" value="{{ order.taxValue }}" id="taxValue" min="0" class="form-control">
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN %</label>
                                            <div class="input-group">
                                                <input type="number" name="taxPercentage" value="{{ order.taxPercentage }}" id="taxPercentage" min="0" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Cashback Rp</label>
                                            <input type="number" name="cashBackValue" value="{{ order.cashBackValue }}" id="cashBackValue" min="0" class="form-control">
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Cashback %</label>
                                            <div class="input-group">
                                                <input type="number" name="cashBackPercentage" value="{{ order.cashBackPercentage }}" id="cashBackPercentage" min="0" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Jumlah Bayar</label>
                                            <input type="text" name="totalAmount" value="{{ order.totalAmount }}" id="totalAmount" readonly class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Quantity</label>
                                            <div class="input-group">
                                                <input type="number" name="quantity" value="{{ order.quantity }}" id="quantity" min="1" class="form-control">
                                                <div class="input-group-addon">kali</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Materai</label>
                                            <input type="text" name="material" value="{{ order.material }}" id="material" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Netto</label>
                                    <div class="bg-aqua" style="padding: 10px; height: 133px;">
                                        <div style="font-size: 40px;font-weight: bold;" id="netto">
                                            Rp 0,00
                                        </div>
                                        <input type="hidden" id="nettoRp">
                                        <div style="font-size: 21px; font-style: italic;" id="terbilangNetto">
                                            Nol Rupiah
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Jenis Bayar</label>
                                    <select name="paymentMethod" id="paymentMethod" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH JENIS BAYAR</option>
                                        {% for jb in paymentMethod %}
                                            {% if order.paymentMethod.id == jb.id %}
                                                <option selected value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                            {% else %}
                                                <option value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sisipan</label>
                                    <div class="input-group" id="sisipan">
                                        <input type="text" readonly name="sisipan" value="{{ order.sirculationArea.name }}" class="form-control">
                                        <input type="hidden" id="sirculationArea" value="/api/cities/{{ order.sirculationArea.id }}" name="sirculationArea">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Materi</label>
                                    <input type="text" name="materialDescription" value="{{ order.materialDescription }}" id="materialDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Order</label>
                                    <input type="text" name="orderDescription" value="{{ order.orderDescription }}" id="orderDescription" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <button class="btn btn-flat btn-danger pull-right" id="btn-order-update">PERBARUI</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Pemasang Modal#}
    <div id="pemasangModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Pemasang Iklan</h4>
                    <small class="text-success">Dobel klik Pemasang Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Pemasang Modal#}

    {#Klien Modal#}
    <div id="klienModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Klien</h4>
                    <small class="text-success">Dobel klik Klien untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KLIEN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Klien Modal#}

    {#Jenis Iklan#}
    <div id="jenisIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Jenis Iklan</h4>
                    <small class="text-success">Dobel klik Jenis Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI JENIS IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Jenis Iklan#}

    {#Tipe Iklan#}
    <div id="tipeIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Tipe Iklan</h4>
                    <small class="text-success">Dobel klik Tipe Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI TIPE IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Tipe Iklan#}

    {#Media Iklan#}
    <div id="mediaIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Media Iklan</h4>
                    <small class="text-success">Dobel klik Media Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI MEDIA IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Media Iklan#}

    {#Emiten#}
    <div id="emitenModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Emiten</h4>
                    <small class="text-success">Dobel klik Emiten untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachEmiten" placeholder="CARI EMITEN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Emiten#}

    {#Sektor#}
    <div id="sektorModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Sektor</h4>
                    <small class="text-success">Dobel klik Sektor untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI SEKTOR">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Sektor#}

    {#Sektor#}
    <div id="subSektorModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Sub Sektor</h4>
                    <small class="text-success">Dobel klik Sub Sektor untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI SUB SEKTOR">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Sektor#}

    {#PIC / Account Executive#}
    <div id="PICModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama PIC</h4>
                    <small class="text-success">Dobel klik Nama PIC untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA PIC">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#PIC / Account Executive#}

    {#Sisipan#}
    <div id="sisipanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama Kota</h4>
                    <small class="text-success">Dobel klik Nama Kota untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KOTA">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#Sisipan#}

    {#Edisi Terbit#}
    <div id="edisiTerbitModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edisi Terbit</h4>
                </div>
                <div class="modal-body">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#eTanggal" aria-controls="home" role="tab" data-toggle="tab">EDISI TANGGAL</a></li>
                                <li role="presentation"><a href="#eHarian" aria-controls="profile" role="tab" data-toggle="tab">EDISI HARI</a></li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="eTanggal">
                                    <input type="text" readonly class="form-control" id="edisiTanggal">
                                </div>

                                <div role="tabpanel" class="tab-pane" id="eHarian">
                                    <span id="hari">
                                        <label class="checkbox-inline"><input type="checkbox" id="0" value="">Minggu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="1" value="">Senin</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="2" value="">Selasa</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="3" value="">Rabu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="4" value="">Kamis</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="5" value="">Jum'at</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="6" value="">Sabtu</label>
                                    </span>

                                    <label class="checkbox-inline pull-right"><input type="checkbox" id="cekSemua" value="">Semua</label>

                                    <div class="input-daterange input-group" id="edisiHarian" style="margin-top: 20px;">
                                        <input type="text" readonly class="form-control" id="startDate" name="start" />
                                        <span class="input-group-addon">sampai</span>
                                        <input type="text" readonly class="form-control" id="endDate" name="end" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                    <button id="hore" type="button" class="btn btn-flat btn-danger">Save</button>
                </div>
            </div>

        </div>
    </div>
    {#Edisi Terbit#}
{%- endblock -%}