{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/accountingjs/accounting.min.js"></script>
    <script src="/assets/scripts/adv-order-sheet.js"></script>
    <script src="/assets/listjs/list.min.js"></script>
    <script>
        $('#dtInvoicedAt, #inputInvoicedAt').datetimepicker({
            locale: 'id',
            format: "dddd, DD MMMM YYYY",
            ignoreReadonly: true
        }).on('dp.change', function(e){
            var tgl = e.date.format('YYYY-MM-DD HH:mm:ss');
            $('#invoicedAt').val(tgl);
        });

        $('#dtBookedAt, #inputBookedAt').datetimepicker({
            locale: 'id',
            format: "dddd, DD MMMM YYYY",
            ignoreReadonly: true
        }).on('dp.change', function(e){
            var tgl = e.date.format('YYYY-MM-DD HH:mm:ss');
            $('#bookedAt').val(tgl);
        });

        $(document).on('click', '#btn-order', function () {
            $.ajax({
                url: '/api',
                type: 'POST',
                data: {
                    module: 'advertising/orders',
                    method: 'POST',
                    params: $('#orderForm').serializeArray()
                },
                beforeSend: function () {
                    $('div .has-error').removeClass('has-error');
                    $('p.help-block').remove();
                    $('#btn-order').text('MENYIMPAN ORDER ...').prop('disabled', true);
                },
                success: function (data, textStatus, jqXHR) {
                    var data = JSON.parse(data);

                    if ( jqXHR.status === 200 ) {

                        if ("violations" in data) {

                            $.each(data, function (index, value) {
                                if(index === 'violations'){
                                    $.each(value, function (idx, val) {
                                        $('form#orderForm #'+val.propertyPath).parent('div').addClass('has-error');
                                        $( '<p class="help-block">'+val.message+'</p>' ).insertAfter( 'form#orderForm #'+val.propertyPath);
                                    });
                                }
                            });

                            toastr.error("Gagal Menyimpan Order");
                            $('#btn-order').text('ORDER SEKARANG').prop('disabled', false);

                        } else if (data.message) {
                            toastr.error("Gagal Menyimpan Order");
                            $('#btn-order').text('ORDER SEKARANG').prop('disabled', false);
                        } else {

                            var orderId = data.id;
                            var data = localStorage.getItem('jenisEdisi');

                            if (data === 'DATES') {
                                saveByDates(orderId);
                            } else if (data === 'DAYS') {
                                saveByDays(orderId);
                            }

                        }

                    } else {
                        toastr.error("Gagal Menyimpan Order");
                        $('#btn-order').text('ORDER SEKARANG').prop('disabled', false);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert({
                        message: "GAGAL MENYIMPAN ORDER",
                        animate: false,
                        buttons: {
                            ok: {
                                className: 'btn-danger btn-flat'
                            }
                        }
                    });
                    $('#btn-order').text('ORDER SEKARANG').prop('disabled', false);
                }
            });
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="row" id="orderForm">
                        <div class="col-md-6 row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Order Dari</label>
                                    <select name="orderFrom" id="orderFrom" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH PERWAKILAN</option>
                                        {% for rep in representatives %}
                                            <option value="/api/representatives/{{ rep.id }}">{{ rep.code }} - {{ rep.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Order</label>
                                    <input type="text" readonly name="orderNumber" id="orderNumber" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Surat Order</label>
                                    <input type="text" name="orderLetter" id="orderLetter" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Booking</label>
                                    <div class='input-group date' id='dtBookedAt'>
                                        <input type='text' readonly id="inputBookedAt" class="form-control" />
                                        <input type='hidden' name="bookedAt" id="bookedAt">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Faktur</label>
                                    <div class='input-group date' id='dtInvoicedAt'>
                                        <input type='text' readonly id="inputInvoicedAt" class="form-control" />
                                        <input type='hidden' name="invoicedAt" id="invoicedAt"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Pemasang</label>
                                    <div class="input-group" id="pemasang">
                                        <input type="text" readonly name="pemasang" class="form-control">
                                        <input type="hidden" name="customer" id="customer" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Alamat</label>
                                    <input readonly id="customerAddress" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Klien</label>
                                    <div class="input-group" id="klien">
                                        <input type="text" readonly name="klien" class="form-control">
                                        <input type="hidden" name="client" id="client">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Cetak Di Faktur</label>
                                    <select type="text" class="form-control" name="printAs" id="printAs" style="width: 100%">
                                        <option disabled selected>PILIH</option>
                                        <option value="customer">PEMASANG</option>
                                        <option value="client">KLIEN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Surat Perjanjian</label>
                                    <input type="text" name="contractLetter" class="form-control">
                                    <p class="help-block">Dipilih jika terdapat perjanjian kerjasama</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Iklan</label>
                                    <div class="input-group" id="jenisIklan">
                                        <input type="text" readonly name="jenisIklan" class="form-control">
                                        <input type="hidden" name="specification" id="specification" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Emiten</label>
                                    <div class="input-group" id="emiten">
                                        <input type="text" readonly name="emiten" class="form-control">
                                        <input type="hidden" id="category1" name="category1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Nama PIC</label>
                                    <div class="input-group" id="pic">
                                        <input type="text" name="pic" readonly class="form-control">
                                        <input type="hidden" id="accountExecutive" name="accountExecutive">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipe Iklan</label>
                                    <div class="input-group" id="tipeIklan">
                                        <input type="text" readonly name="tipeIklan" class="form-control">
                                        <input type="hidden" name="type" id="type" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Pasang Di</label>
                                    <div class="input-group" id="mediaIklan">
                                        <input type="text" readonly name="mediaIklan" class="form-control" value="{{ media.name }}">
                                        <input type="hidden" id="media" name="media" value="/api/advertising/media/{{ media.id }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sektor</label>
                                    <div class="input-group" id="sektor">
                                        <input type="text" readonly name="sektor" class="form-control">
                                        <input type="hidden" id="category2" name="category2">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sub Sektor</label>
                                    <div class="input-group" id="sub-sektor">
                                        <input type="text" readonly name="sub-sektor" class="form-control">
                                        <input type="hidden" id="category" name="category">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Judul Iklan</label>
                                    <input type="text" name="title" id="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Ukuran</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" name="columnSize" id="columnSize" min="1" class="form-control">
                                                <div class="input-group-addon">kolom</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="text-bold" style="margin-left: 13px;font-size: 16px;margin-top: 5px;">X</div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" name="milimeterSize" id="milimeterSize" min="1" class="form-control">
                                                <div class="input-group-addon">mm/baris</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="">Edisi Terbit</label>
                                            <button class="btn btn-default btn-block btn-flat" id="setEdisiTerbitButton">Edisi Terbit</button>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Terbit</label>
                                            <div class="input-group">
                                                <input type="number" name="totalPost" id="totalPost" readonly min="1" class="form-control">
                                                <div class="input-group-addon">kali</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Kontrak</label>
                                            <div class="input-group">
                                                <input type="number" name="contractDuration" id="contractDuration" min="0" class="form-control">
                                                <div class="input-group-addon">bulan</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Tarif Iklan</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" id="basePrice" class="form-control">
                                                <input type="hidden" name="basePrice">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN %</label>
                                            <div class="input-group">
                                                <input type="number" value="0" name="taxPercentage" id="taxPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" id="taxValue" class="form-control">
                                                <input type="hidden" name="taxValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Diskon %</label>
                                            <div class="input-group">
                                                <input type="number"  value="0" name="discountPercentage" id="discountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" id="discountValue" class="form-control">
                                                <input type="hidden" name="discountValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Cashback %</label>
                                            <div class="input-group">
                                                <input type="number" value="0" name="cashBackPercentage" id="cashBackPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Cashback Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" id="cashBackValue" class="form-control">
                                                <input type="hidden" name="cashBackValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Jumlah Bayar</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" id="totalAmount" readonly class="form-control">
                                                <input type="hidden" name="totalAmount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Quantity</label>
                                            <div class="input-group">
                                                <input type="number" name="quantity" id="quantity" min="1" value="1" class="form-control">
                                                <div class="input-group-addon">buah</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Materai</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="txt" id="material" class="form-control">
                                                <input type="hidden" name="material">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sx-12">
                                            <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" style="padding-right: 15px;">
                                            <button id="hitung" class="btn btn-primary btn-flat pull-right">HITUNG</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Netto</label>
                                    <div class="bg-aqua" style="padding: 10px; height: 133px;">
                                        <div style="font-size: 40px;font-weight: bold;" id="netto">
                                            Rp 0,00
                                        </div>
                                        <input type="hidden" id="nettoRp">
                                        <div style="font-size: 21px; font-style: italic;" id="terbilangNetto">
                                            Nol Rupiah
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <div class="form-group">
                                    <label for="">Jenis Bayar</label>
                                    <select name="paymentMethod" id="paymentMethod" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH JENIS BAYAR</option>
                                        {% for jb in paymentMethod %}
                                            <option value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Sisipan</label>
                                    <div class="input-group" id="sisipan" style="position: relative;">
                                        <button id="clearText" class="btn btn-xs btn-danger" style="position: absolute; right: 44px; top: 6px; z-index: 1041;">clear</button>
                                        <input type="text" readonly name="sisipan" class="form-control">
                                        <input type="hidden" id="sirculationArea" name="sirculationArea">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Materi</label>
                                    <input type="text" name="materialDescription" id="materialDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Order</label>
                                    <input type="text" name="orderDescription" id="orderDescription" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <button class="btn btn-flat btn-danger pull-right" id="btn-order" disabled>ORDER SEKARANG</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Pemasang Modal#}
    <div id="pemasangModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Pemasang Iklan</h4>
                    <small class="text-success">Dobel klik Pemasang Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Pemasang Modal#}

    {#Klien Modal#}
    <div id="klienModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Klien</h4>
                    <small class="text-success">Dobel klik Klien untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KLIEN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Klien Modal#}

    {#Jenis Iklan#}
    <div id="jenisIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Jenis Iklan</h4>
                    <small class="text-success">Dobel klik Jenis Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI JENIS IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Jenis Iklan#}

    {#Tipe Iklan#}
    <div id="tipeIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Tipe Iklan</h4>
                    <small class="text-success">Dobel klik Tipe Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI TIPE IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Tipe Iklan#}

    {#Media Iklan#}
    <div id="mediaIklanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Media Iklan</h4>
                    <small class="text-success">Dobel klik Media Iklan untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI MEDIA IKLAN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Media Iklan#}

    {#Emiten#}
    <div id="emitenModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Emiten</h4>
                    <small class="text-success">Dobel klik Emiten untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control search" id="serachEmiten" placeholder="CARI EMITEN">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Emiten#}

    {#Sektor#}
    <div id="sektorModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Sektor</h4>
                    <small class="text-success">Dobel klik Sektor untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI SEKTOR">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Sektor#}

    {#Sektor#}
    <div id="subSektorModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Sub Sektor</h4>
                    <small class="text-success">Dobel klik Sub Sektor untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI SUB SEKTOR">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#End Sektor#}

    {#PIC / Account Executive#}
    <div id="PICModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama PIC</h4>
                    <small class="text-success">Dobel klik Nama PIC untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA PIC">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#PIC / Account Executive#}

    {#Sisipan#}
    <div id="sisipanModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Nama Kota</h4>
                    <small class="text-success">Dobel klik Nama Kota untuk memilihnya</small>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="serachList" placeholder="CARI NAMA KOTA">
                    <div id="data-list" style="margin-top: 10px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#Sisipan#}

    {#Edit Edisi Terbit#}
    <div id="setEdisiTerbitModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edisi Terbit</h4>
                </div>
                <div class="modal-body">


                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a data-id="DATES" href="#eTanggal" aria-controls="home" role="tab" data-toggle="tab">BERDASARKAN TANGGAL</a></li>
                                <li><a data-id="DAYS" href="#eHarian" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN HARI</a></li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="eTanggal">
                                    <form id="perTgl">
                                        <table class="table table-responsive table-hover">
                                            <thead>
                                            <tr>
                                                <th>HARI/TANGGAL</th>
                                            </tr>
                                            </thead>

                                            <tbody class="list">
                                            <tr>
                                                <td style="position: relative;">
                                                    <input readonly type="text" class="pilih-tanggal form-control tanggal">
                                                    <input type="hidden" name="tanggal[]">
                                                    <button class="btn-hapus-tanggal btn btn-danger btn-xs pull-right" style="position: absolute;right: 14px;top: 14px;">Hapus</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <ul class="pagination"></ul>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="eHarian">
                                    <span id="hari">
                                        <label class="checkbox-inline"><input type="checkbox" id="0" value="">Minggu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="1" value="">Senin</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="2" value="">Selasa</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="3" value="">Rabu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="4" value="">Kamis</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="5" value="">Jum'at</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="6" value="">Sabtu</label>
                                    </span>

                                    <label class="checkbox-inline pull-right"><input type="checkbox" id="cekSemua" value="">Semua</label>

                                    <div class="input-daterange input-group" id="edisiHarian" style="margin-top: 20px;">
                                        <input type="text" readonly class="form-control" id="startDate" name="start" />
                                        <span class="input-group-addon">sampai</span>
                                        <input type="text" readonly class="form-control" id="endDate" name="end" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="save-edisi-terbit" data-dismiss="modal" type="button" class="btn btn-flat btn-danger">Save By Dates</button>
                </div>
            </div>

        </div>
    </div>
    {#Edit Edisi Terbit#}
{%- endblock -%}