{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Customers.js"></script>
    <script src="/assets/scripts/Adv/Specifications.js"></script>
    <script src="/assets/scripts/Adv/SpecificationDetails.js"></script>
    <script src="/assets/scripts/Adv/Prices.js"></script>
    <script src="/assets/scripts/Adv/AccountExecutives.js"></script>
    <script src="/assets/scripts/Adv/Media.js"></script>
    <script src="/assets/scripts/Admin/Cities.js"></script>
    <script src="/assets/scripts/Adv/OrderForm.js"></script>
    <script src="/assets/scripts/Adv/Orders.js"></script>
    <script src="/assets/scripts/Adv/PublishAds.js"></script>
    <script src="/assets/scripts/Adv/OrderNew.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="row" id="orderForm">
                        <div class="col-md-6 row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Order Dari</label>
                                    <select name="orderFrom" class="form-control" style="width: 100%"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="orderNumber">Nomor Order</label>
                                    <input type="text" readonly placeholder="AKAN TERISI OTOMATIS" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nomor Surat Order</label>
                                    <input type="text" name="orderLetter" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Booking</label>
                                    <div class='input-group date' id='dtBookedAt'>
                                        <input type='text' readonly name="bookedAt" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tanggal Faktur</label>
                                    <div class='input-group date' id='dtInvoicedAt'>
                                        <input type='text' readonly name="invoicedAt" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Pemasang</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="customerName" class="form-control">
                                        <input type="hidden" name="customer">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="customerButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Alamat</label>
                                    <input readonly id="customerAddress" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Klien</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="clientName" class="form-control">
                                        <input type="hidden" name="client">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="clientButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Cetak Di Faktur</label>
                                    <select type="text" class="form-control" name="printAs" style="width: 100%">
                                        <option disabled selected>PILIH</option>
                                        <option value="customer">PEMASANG</option>
                                        <option value="client">KLIEN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Surat Perjanjian</label>
                                    <input type="text" name="contractLetter" class="form-control">
                                    <p class="help-block">Diisi jika terdapat perjanjian kerjasama</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Iklan</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="specificationName" class="form-control">
                                        <input type="hidden" name="specification">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="specificationButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipe Iklan</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="typeName" class="form-control">
                                        <input type="hidden" name="type">
                                        <span class="input-group-btn">
                                            <button disabled class="btn btn-default btn-flat" id="typeButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nama PIC</label>
                                    <div class="input-group">
                                        <input type="text" id="accountExecutiveName" readonly class="form-control">
                                        <input type="hidden" name="accountExecutive">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="accountExecutiveButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Pasang Di</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="mediaName" class="form-control" value="{{ media.name }}">
                                        <input type="hidden" name="media" value="/api/advertising/media/{{ media.id }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="mediaButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Kategori Iklan</label>
                                    <div class="input-group">
                                        <input type="text" readonly id="categoryList" class="form-control">
                                        <input type="hidden" name="category">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" id="categoryButton" type="button"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Judul Iklan</label>
                                    <input type="text" name="title"class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Ukuran</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" name="columnSize" min="1" class="form-control">
                                                <div class="input-group-addon">kolom</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="text-bold" style="margin-left: 13px;font-size: 16px;margin-top: 5px;">X</div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="input-group">
                                                <input type="number" name="milimeterSize" min="1" class="form-control">
                                                <div class="input-group-addon">mm/baris</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="">Edisi Terbit</label>
                                            <button type="button" class="btn btn-default btn-block btn-flat" id="edisiTerbitButton">Edisi Terbit</button>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Terbit</label>
                                            <div class="input-group">
                                                <input type="number" readonly name="totalPost" min="1" class="form-control">
                                                <div class="input-group-addon">kali</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Kontrak</label>
                                            <div class="input-group">
                                                <input type="number" name="contractDuration" min="0" class="form-control">
                                                <div class="input-group-addon">bulan</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Tarif Iklan</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" name="basePrice" value="0" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN %</label>
                                            <div class="input-group">
                                                <input type="text" readonly value="10" name="taxPercentage" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">PPN Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="taxValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Min Diskon %</label>
                                            <div class="input-group">
                                                <input type="number"  value="0" name="minDiscountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Min Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="minDiscountValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Plus Diskon %</label>
                                            <div class="input-group">
                                                <input type="number"  value="0" name="surchargePercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Plus Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="surchargeValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="help-block">Ada contoh faktur dengan Plus Diskon?</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Diskon %</label>
                                            <div class="input-group">
                                                <input type="number"  value="0" name="discountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="discountValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">NPB Diskon %</label>
                                            <div class="input-group">
                                                <input type="number" readonly value="0" name="npbDiscountPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">NPB Diskon Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="npbDiscountValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="help-block">NPB Diskon kok tidak ada di faktur?</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Cash Back %</label>
                                            <div class="input-group">
                                                <input type="number" value="0" name="cashBackPercentage" min="0" max="100" class="form-control">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Cash Back Rp</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="cashBackValue" value="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label for="">Jumlah Bayar</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="text" readonly name="totalAmount" value="0" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Quantity</label>
                                            <div class="input-group">
                                                <input type="number" name="quantity" min="1" value="1" class="form-control">
                                                <div class="input-group-addon">buah</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sx-12">
                                            <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Netto</label>
                                    <div class="bg-aqua" style="padding: 10px; height: 133px;">
                                        <div style="font-size: 40px;font-weight: bold;" id="netto">
                                            Rp 0
                                        </div>
                                        <input type="hidden" id="nettoRp">
                                        <div style="font-size: 21px; font-style: italic;" id="terbilangNetto">
                                            Nol Rupiah
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Jenis Bayar</label>
                                    <select name="paymentMethod" class="form-control" style="width: 100%">
                                        <option selected disabled>PILIH JENIS BAYAR</option>
                                        {% for jb in paymentMethod %}
                                            <option value="/api/billing/payment-methods/{{ jb.id }}">{{ jb.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Sisipan</label>
                                    <div class="input-group" style="position: relative;">
                                        <button id="clearText" class="btn btn-xs btn-flat btn-danger hidden" style="position: absolute; right: 44px; top: 6px; z-index: 1041;">clear</button>
                                        <input type="text" readonly id="sirculationAreaName" class="form-control">
                                        <input type="hidden" name="sirculationArea">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat" type="button" id="sirculationAreaButton"><i class="fa fa-ellipsis-h text-muted"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Materi</label>
                                    <input type="text" name="materialDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Keterangan Order</label>
                                    <input type="text" name="orderDescription" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Status Detail</label>
                                    <select class="form-control" name="printInvoiceAs">
                                        <option disabled selected>PILIH</option>
                                        <option value="n">NORMAL</option>
                                        <option value="p">PECAH</option>
                                        <option value="g">GABUNG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Tag Order</label>
                                    <select name="orderTag" class="form-control" multiple="multiple">
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <p class="help-block">Tulis tag dan tekan enter</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">

                    <div class="col-xs-5"></div>
                    <div class="col-xs-2">
                        <button class="btn btn-flat btn-danger pull-right btn-block" id="btn-order">SIMPAN</button>
                    </div>
                    <div class="col-xs-5"></div>

                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Pemasang Modal#}
    <div id="customerModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Pemasang Iklan</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchCustomer" placeholder="CARI NAMA PEMASANG">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th width="10%">KODE</th>
                                <th>PEMASANG</th>
                            </tr>
                            </thead>
                            <tbody id="customerList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="customersPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Pemasang Modal#}

    {#Klien Modal#}
    <div id="clientModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Klien Iklan</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchClient" placeholder="CARI NAMA KLIEN">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th width="10%">KODE</th>
                                <th>PEMASANG</th>
                            </tr>
                            </thead>
                            <tbody id="clientList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="clientsPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Klien Modal#}

    {#Jenis Iklan Modal#}
    <div id="specificationModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Jenis Iklan</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchSpecification" placeholder="CARI JENIS IKLAN">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th>JENIS IKLAN</th>
                            </tr>
                            </thead>
                            <tbody id="specificationList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="specificationsPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Jenis Iklan Modal#}

    {#Tipe Iklan Modal#}
    <div id="typeModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Tipe Iklan</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchType" placeholder="CARI TIPE IKLAN">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th>TIPE IKLAN</th>
                            </tr>
                            </thead>
                            <tbody id="typeList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="typesPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Tipe Iklan Modal#}

    {#Media Modal#}
    <div id="mediaModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Media</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchMediaOrder" placeholder="CARI MEDIA">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th>MEDIA</th>
                            </tr>
                            </thead>
                            <tbody id="mediaList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="mediaPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Media Modal#}

    {#PIC Modal#}
    <div id="accountExecutiveModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih PIC</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchAccountExecutive" placeholder="CARI PIC">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th>PIC</th>
                            </tr>
                            </thead>
                            <tbody id="accountExecutiveList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="accountExecutivesPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End PIC Modal#}

    {#Kategori Modal#}
    <div id="categoryModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Kategori</h4>
                    <small class="text-success">Dobel klik pada kategori yang diinginkan</small>
                </div>
                <div class="modal-body">
                    <span id="treeCategories"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Category#}

    {#Edisi Terbit#}
    <div id="edisiTerbitModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edisi Terbit</h4>
                </div>
                <div class="modal-body">


                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a data-edisi="TANGGAL" href="#edisiTanggal" aria-controls="home" role="tab" data-toggle="tab">BERDASARKAN TANGGAL</a></li>
                                <li><a data-edisi="HARI" href="#edisiHari" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN HARI</a></li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="edisiTanggal">
                                    <form>
                                        <table class="table table-responsive table-hover">
                                            <thead>
                                            <tr>
                                                <th>TANGGAL</th>
                                            </tr>
                                            </thead>

                                            <tbody class="list">
                                            <tr>
                                                <td style="position: relative;">
                                                    <input readonly type="text" class="choose-date form-control">
                                                    <input type="hidden" name="tanggal[]">
                                                    <button type="button" class="btn-remove-date btn-flat btn btn-danger btn-xs pull-right" style="position: absolute;right: 14px;top: 14px;">Hapus</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="edisiHari">
                                    <span id="hari">
                                        <label class="checkbox-inline"><input type="checkbox" id="senin" value="">Senin</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="selasa" value="">Selasa</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="rabu" value="">Rabu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="kamis" value="">Kamis</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="jumat" value="">Jum'at</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="sabtu" value="">Sabtu</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ahad" value="">Minggu</label>
                                    </span>

                                    <label class="checkbox-inline pull-right"><input type="checkbox" id="checkAllDay">Semua</label>

                                    <div class="input-daterange input-group" id="rangeDates" style="margin-top: 20px;">
                                        <input type="text" readonly class="form-control" id="startDate" name="start" />
                                        <span class="input-group-addon">sampai</span>
                                        <input type="text" readonly class="form-control" id="endDate" name="end" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="save-edisi-terbit" data-dismiss="modal" type="button" class="btn btn-flat btn-danger">SIMPAN BERDASARKAN TANGGAL</button>
                </div>
            </div>

        </div>
    </div>
    {#End Edisi Terbit#}

    {#Media Modal#}
    <div id="sirculationAreaModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pilih Media</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="text" class="form-control" id="searchSirculationArea" placeholder="CARI KOTA SISIPAN">
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-responsive table-hover">
                            <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th width="4%">KODE</th>
                                <th>SISIPAN</th>
                            </tr>
                            </thead>
                            <tbody id="sirculationAreaList"></tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <ul id="sirculationAreaPagination" class="pagination pagination-sm pull-right"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                </div>
            </div>

        </div>
    </div>
    {#End Media Modal#}
{%- endblock -%}