{% extends 'layout.twig' %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Details {{ companies.name }} data</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td width="20%;">Name</td>
                            <td>{{ companies.name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ companies.email }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ companies.address }}</td>
                        </tr>
                        <tr>
                            <td>Contact Person</td>
                            <td>{{ companies.contactPerson }}</td>
                        </tr>
                        <tr>
                            <td>phoneNumber</td>
                            <td>{{ companies.phoneNumber }}</td>
                        </tr>

                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="/companies" class="btn btn-default btn-xs btn-flat pull-right">BACK</a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}