{% extends 'layout.twig' %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Details {{ users.fullname }} data</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td width="20%;">Fullname</td>
                            <td>{{ users.fullname }}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>{{ users.username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ users.email }}</td>
                        </tr>
                        <tr>
                            <td>Roles</td>
                            <td>
                                {% for role in users.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="/users" class="btn btn-default btn-xs btn-flat pull-right">BACK</a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}