{% extends 'layout.twig' %}

{%- block js -%}
    <script src="/assets/scripts/Admin/Modules.js?{{ microtime }}"></script>
    <script src="/assets/scripts/Admin/Roles.js?{{ microtime }}"></script>
    <script src="/assets/scripts/Admin/Users.js?{{ microtime }}"></script>
{%- endblock -%}

{%- block content -%}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <select class="form-control" id="searchUsers" style="width: 100%"></select>
                    </div>
                    <div class="col-md-2">
                        <button disabled id="btnAddUser" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                        <tr>
                            <th width="3%">NO.</th>
                            <th>NAMA LENGKAP</th>
                            <th>USERNAME</th>
                            <th>EMAIL</th>
                            <th>AKTIF?</th>
                            <th width="7%"><span class="pull-right">AKSI</span></th>
                        </tr>
                        </thead>
                        <tbody id="usersList"></tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul id="usersPagination" class="pagination pagination-sm pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Add Modal#}
    <div id="addModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TAMBAH PENGGUNA</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="addFullname">NAMA LENGKAP</label>
                            <input type="text" name="fullname" id="addFullname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addEmail">EMAIL</label>
                            <input type="email" name="email" id="addEmail" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="addPassword">SANDI</label>
                            <input type="password" name="password" id="addPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addEnabled">AKTIF?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="enabled" id="addEnabled" data-size="small" data-on="AKTIF" data-off="TIDAK" data-onstyle="success">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-add-user" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Add Modal#}

    {#Add Modal#}
    <div id="detailModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DETAIL PENGGUNA</h4>
                </div>
                <div class="modal-body">
                    <form id="detailForm">
                        <div class="form-group">
                            <label for="detailFullname">NAMA LENGKAP</label>
                            <input type="text" name="fullname" id="detailFullname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="detailEmail">EMAIL</label>
                            <input type="email" name="email" id="detailEmail" class="form-control not-ucase">
                        </div>
                        <div class="form-group">
                            <label for="detailPassword">SANDI</label>
                            <input type="password" name="password" id="detailPassword" class="form-control" placeholder="KOSONGKAN JIKA TIDAK DIUBAH">
                        </div>
                        <div class="form-group">
                            <label for="detailEnabled">AKTIF?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="enabled" id="detailEnabled" data-size="small" data-on="AKTIF" data-off="TIDAK" data-onstyle="success">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat pull-left btn-roles" title="HAK AKSES"><i class="fa fa-lock"></i>&nbsp;&nbsp;HAK AKSES</button>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-update-user" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Add Modal#}

    {#ROLES MODAL#}
    <div class="users roles-modal modal" id="rolesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title roles">{#Roles of#} <span></span></h4>
                </div>
                <div class="modal-body users roles">
                    <form role="form" class="users form">
                        <div class="box-body"  style="min-height: 300px;">

                            <div class="panel with-nav-tabs panel-info">
                                <div class="panel-heading">
                                    <ul id="serviceTab" class="nav nav-tabs" role="tablist">
                                        {% for service in services %}
                                            <li class="{% if loop.index == 1 %}active{% endif %}">
                                                <a href="#{{ service.code }}" aria-controls="{{ service.code }}" role="tab" data-toggle="tab">{{ service.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="panel-body">
                                    <div class="tab-content">

                                        <input type="hidden" id="userId">

                                        {% for service in services %}
                                            <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ service.code }}">

                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>NO.</th>
                                                        <th>Module</th>
                                                        <th>Viewable</th>
                                                        <th>Addable</th>
                                                        <th>Editable</th>
                                                        <th>Deletable</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="roles-check">
                                                    <tr>
                                                        <td colspan="6">...</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endfor %}

                                        <ul id="rolesPagination" class="pagination pagination-sm pull-right clearfix"></ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {#END ROLES MODAL#}
{%- endblock -%}