{%- spaceless -%}
    <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>Version 1.0.0</b></div>
        <strong>Copyright &copy; {{ 'now' | date('Y') }} <span style="color: #0d6aad">MIS Bisnis Indonesia</span></strong>
    </footer>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/moment/moment.js"></script>
    <script type="text/javascript" src="/assets/vendor/moment/moment-range.js"></script>
    <script>
        window['moment-range'].extendMoment(moment);
    </script>
    <script type="text/javascript" src="/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootstrap-datetimepicker/id.js"></script>

    <script type="text/javascript" src="/assets/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/datepicker/locales/bootstrap-datepicker.id.min.js"></script>

    <!-- FastClick -->
    <script type="text/javascript" src="/assets/vendor/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="/assets/vendor/adminlte/js/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/scripts.js"></script>

    <script type="text/javascript" src="/assets/vendor/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/summernote/summernote.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/notification/push_notification.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/treeview/treed.js"></script>
    <script type="text/javascript" src="/assets/vendor/bootstrap-menu/BootstrapMenu.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/User/User.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Document.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Event.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Grid.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Url.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Storage.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Form.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/WebSocket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/ContextMenu.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Treed.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/DatePicker.js"></script>
    <script type="text/javascript" src="/assets/scripts/Notification/Notification.js"></script>
    <script>
        (function() {
            jQuery('li.treeview:has(ul.treeview-menu li)').removeClass('hidden');
            jQuery('ul.treeview-menu:has(ul.treeview-menu li)').removeClass('hidden');
        })();

        Bisnis.init(function () {
            Bisnis.BACKEND_HOST = '{{ BACKEND_HOST }}';
            Bisnis.Util.Style.editor('.editor');
            Bisnis.Util.Style.changeStyle('.direct-chat', [{'margin-bottom': '0px'}]);
            Bisnis.Util.Style.changeStyle('.note-frame', [{'margin-bottom': '0px'}]);

            Bisnis.Notification.enableTo('{{ me.id }}', '.userNotification', '.userOnline', function () {
                Bisnis.Util.Dialog.hideModal('.modal');
                window.focus(this);
                Bisnis.Util.Event.triggerClick('a.notif_userNotification');
                window.addEventListener('beforeunload', function() {
                    Bisnis.User.logout();
                    Bisnis.WebSocket.close();
                });
            });

            Bisnis.Util.Event.bind('click', 'a.notif_userNotification', function () {
                Bisnis.Notification.unread('{{ me.id }}', function (notifications) {
                    var records = [];
                    Bisnis.each(function (idx, notification) {
                        records.push([
                            { value: notification.domain },
                            { value: notification.message },
                            { value: notification.id, format: function (id) { return '<button data-id="' + id + '" class="btn btn-warning readNotification" title="Baca"><i class="fa fa-envelope-o"></i></button>'; }}
                        ]);
                    }, notifications);

                    Bisnis.Util.Grid.renderRecords('#notificationBody', records);
                    Bisnis.Util.Dialog.showModal('#notificationModal');
                });
            });

            Bisnis.Util.Event.bind('click', '#notificationClose', function () {
                Bisnis.Util.Dialog.hideModal('#notificationModal');
            });

            Bisnis.Util.Event.bind('click', '#notificationDetailClose', function () {
                Bisnis.Util.Dialog.hideModal('#notificationDetail');
                Bisnis.Util.Event.triggerClick('a.notif_notification');
            });

            Bisnis.Util.Event.bind('click', '.readNotification', function () {
                var that = this;
                Bisnis.Notification.fetch(Bisnis.Util.Document.getDataValue(that, 'id'), function (notification) {
                    Bisnis.Notification.read(notification.id, function () {
                        Bisnis.Util.Document.putHtml('.notificationDetailTitle', notification.domain);
                        Bisnis.Util.Document.putHtml('.notificationDetailBody', notification.message);

                        Bisnis.Util.Event.triggerClick('#notificationClose');
                        Bisnis.Util.Dialog.showModal('#notificationDetail');
                    });
                });
            });

            Bisnis.Util.Event.bind('click', '#notificationReadAll', function () {
                Bisnis.Util.Dialog.yesNo('Konfirmasi', 'Tandai semua telah dibaca?', function (result) {
                    if (result) {
                        Bisnis.Notification.readAll('{{ me.id }}', function () {
                            Bisnis.Util.Event.triggerClick('#notificationClose');
                            Bisnis.Util.Document.putHtml('.notification', '');
                        });
                    }
                });
            });
        });
    </script>
{%- endspaceless -%}