{%- spaceless -%}
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <ul class="sidebar-menu">
                {% for key, category in menus|sort %}
                    <li class="treeview" id="firstParent{{ key|lower|replace({ ' ': "" }) }}">
                        <a href="javascript:void(0)" title="{{ key|upper }}">
                            <i class="fa fa-circle"></i>
                            <span>{{ key|upper }}</span>
                        </a>

                        <ul class="treeview-menu">
                            {% for moduleKey, module in category|sort %}
                            <li class="treeview" id="secondParent{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }}">
                                <a href="javascript:void(0)" title="{{ moduleKey|upper }}">
                                    <i class="fa fa-circle-o" id="secondParentIcon{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }}"></i> {{ moduleKey|upper }}
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    {% for menuKey, menu in module|sort %}
                                    <li class="treeview" id="thirdParent{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }}">
                                        <a href="/{{ menu.path }}" title="{{ menu.name|upper }}">
                                            <i class="fa fa-circle-o" id="thirdParentIcon{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }}"></i>
                                            {{ menu.name|upper }}
                                        </a>
                                        <script>
                                            if ('/{{ menu.path }}' === window.location.pathname) {
                                                document.querySelector('#firstParent{{ key|lower|replace({ ' ': "" }) }}').classList.add('active');
                                                document.querySelector('#secondParent{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }}').classList.add('active');
                                                document.querySelector('#thirdParent{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }}').classList.add('active');

                                                document.querySelector('#firstParent{{ key|lower|replace({ ' ': "" }) }} a i').classList.remove('fa-circle-o');
                                                document.querySelector('#firstParent{{ key|lower|replace({ ' ': "" }) }} a i').classList.add('fa-circle');
                                                document.querySelector('#firstParent{{ key|lower|replace({ ' ': "" }) }} a').classList.add('text-yellow');

                                                document.querySelector('#secondParentIcon{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }}').classList.remove('fa-circle-o');
                                                document.querySelector('#secondParentIcon{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }}').classList.add('fa-circle');
                                                document.querySelector('#secondParent{{ key|lower|replace({ ' ': "" }) }}{{ moduleKey|lower|replace({ ' ': "" }) }} a').classList.add('text-yellow');

                                                document.querySelector('#thirdParentIcon{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }}').classList.remove('fa-circle-o');
                                                document.querySelector('#thirdParentIcon{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }}').classList.add('fa-circle');
                                                document.querySelector('#thirdParent{{ menuKey|lower|replace({ ' ': "" }) }}{{ menu.name|lower|replace({ ' ': "" }) }} a').classList.add('text-yellow');
                                            }
                                        </script>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </aside>
{%- endspaceless -%}
