{% extends 'layout.twig' %}

{% block js %}
    <script type="text/javascript" src="/assets/vendor/chart/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/Chart/Bar.js"></script>
    <script type="text/javascript" src="/assets/scripts/Chart/Line.js"></script>
    <script type="text/javascript" src="/assets/scripts/Chart/Pie.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Storage.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Category.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript" src="/assets/scripts/User/User.js"></script>
    <script type="text/javascript">
        var bar = {};
        var line = {};
        var pie = {};
        var detail = {};

        function fetchStatisticByCategory(params, callback) {
            Bisnis.Helpdesk.Ticket.fetchStatisticByCategory(params, function (response) {
                var chartData = {
                    labels: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                    datasets: [{
                        label: 'Open',
                        backgroundColor: '#dddddd',
                        borderColor: '#dddddd',
                        fill: false,
                        data: response['open']
                    }, {
                        label: 'Assignment',
                        backgroundColor: '#337ab7',
                        borderColor: '#337ab7',
                        fill: false,
                        data: response['assignment']
                    }, {
                        label: 'Onprogress',
                        backgroundColor: '#f0ad4e',
                        borderColor: '#f0ad4e',
                        fill: false,
                        data: response['onprogress']
                    }, {
                        label: 'Closed',
                        backgroundColor: '#d73925',
                        borderColor: '#d73925',
                        fill: false,
                        data: response['closed']
                    }, {
                        label: 'Resolved',
                        backgroundColor: '#5cb85c',
                        borderColor: '#5cb85c',
                        fill: false,
                        data: response['resolved']
                    }]
                };

                Bisnis.Util.Storage.store('__HELPDESK_CHARTDATA__', JSON.stringify(chartData));

                if (Bisnis.validCallback(callback)) {
                    callback();
                }
            });
        }

        function loadStatisticData(year, callback) {
            var params = {};
            var type = getType();
            var category = getCategory();
            var savedStaff = JSON.parse(Bisnis.Util.Storage.fetch('staff'));
            if (null === category.id) {
                if (savedStaff.isAdmin) {
                    params = {
                        'year': year,
                        'type': type
                    };
                } else {
                    params = {
                        'year': {{ year }},
                        'type': type,
                        'category_id': savedStaff.category.id
                    }
                }
            } else {
                params = {
                    'year': {{ year }},
                    'type': type,
                    'category_id': category.id
                }
            }

            fetchStatisticByCategory(params, callback);
        }

        function transformToPie(monthlyData) {
            var labels = [];
            var backgroundColor = [];
            var data = [];

            Bisnis.each(function (idx, value) {
                labels.push(value.label);
                backgroundColor.push(value.backgroundColor);
                data.push(value.data.reduce(function (accumulator, currentValue) { return accumulator + currentValue; }));
            }, monthlyData.datasets);

            return {
                'labels': labels,
                'backgroundColor': backgroundColor,
                'data': data
            };
        }

        function cleanCanvas() {
            if (null === Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA__')) {
                loadStatisticData({{ year }});
            }

            if (Object.keys(line).length !== 0) {
                line.destroy();
            }

            if (Object.keys(bar).length !== 0) {
                bar.destroy();
            }

            if (Object.keys(pie).length !== 0) {
                pie.destroy();
            }

            if (Object.keys(detail).length !== 0) {
                detail.destroy();
            }
        }

        function loadChartPerStaff(params, title, callback) {
            Bisnis.Util.Storage.remove('__HELPDESK_CHARTDATA__');
            Bisnis.Util.Storage.remove('__HELPDESK_CHARTDATA_DETAIL__');
            Bisnis.Helpdesk.Ticket.fetchStatisticPerStaff(params, function () {
                var statistics = {};
                Bisnis.each(function (idx, value) {
                    var index = idx - 1;
                    if (0 < value.length) {
                        Bisnis.each(function (i, stat) {
                            if (null !== stat['fullname'] && 'undefined' === typeof statistics[stat['fullname']]) {
                                statistics[stat['fullname']] = [];
                            } else {
                                if ('undefined' === typeof statistics['NONAME']) {
                                    statistics['NONAME'] = [];
                                }
                            }

                            if (null !== stat['fullname']) {
                                if ('undefined' === typeof statistics[stat['fullname']][index]) {
                                    statistics[stat['fullname']][index] = parseInt(stat['total']);
                                } else {
                                    statistics[stat['fullname']][index] = statistics[stat['fullname']][index] + parseInt(stat['total']);
                                }
                            } else {
                                if ('undefined' === typeof statistics['NONAME'][index]) {
                                    statistics['NONAME'][index] = parseInt(stat['total']);
                                } else {
                                    statistics['NONAME'][index] = statistics['NONAME'][index] + parseInt(stat['total']);
                                }
                            }
                        }, value);
                    }
                }, JSON.parse(Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA_DETAIL__')));

                Bisnis.each(function (i) {
                    for (var j = 0; j <= 12; j++ ) {
                        if ('undefined' === typeof statistics[i][j]) {
                            statistics[i][j] = 0;
                        }
                    }
                }, statistics);

                var dataset = [];
                Bisnis.each(function (idx, value) {
                    var color = Bisnis.Util.Style.randomColor();
                    dataset.push({
                        'label': idx,
                        'backgroundColor': color,
                        'borderColor': color,
                        'fill': false,
                        'data': value
                    });
                }, statistics);

                var chartData = {
                    labels: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                    datasets: dataset
                };

                cleanCanvas();

                if (!Bisnis.validCallback(callback)) {
                    callback = function () {};
                }

                detail = Bisnis.Chart.Bar.render(document.getElementById('chart'), chartData, title, 'Helpdesk Staf', 'Jumlah', callback);
            });
        }
        
        function getCategory() {
            var categoryOption = Bisnis.Util.Document.getValue('#chartCategory');
            var savedStaff = JSON.parse(Bisnis.Util.Storage.fetch('staff'));

            var category = {
                'id': null,
                'name': null
            };

            if (savedStaff.isAdmin) {
                if (null !== categoryOption && '' !== categoryOption) {
                    var split = categoryOption.split('#');

                    category.id = split[0];
                    category.name = split[1];
                }
            } else {
                if (null !== savedStaff) {
                    category.id = savedStaff.category.id;
                    category.name = savedStaff.category.name;
                }
            }

            return category;
        }

        function getType() {
            var type = Bisnis.Util.Document.getValue('#chartType');
            if ('' === type || null === type) {
                return null;
            }

            return type;
        }

        Bisnis.init(Bisnis.Helpdesk.Staff.fetchByUser('{{ me.id }}', function (staff) {
            Bisnis.Util.Storage.remove('staff');
            Bisnis.Util.Style.modifySelect('#chartType');
            if (staff[0].isAdmin) {
                Bisnis.Helpdesk.Category.fetchAll([], function (categoryList) {
                    var categoryList = categoryList['hydra:member'];
                    var categoryOption = '<option selected value="">PILIH BAGIAN</option>';
                    Bisnis.each(function (index, value) {
                        categoryOption = categoryOption + '<option value="' + value.id + '#' + value.name + '">' + value.name + '</option>';
                    }, categoryList);

                    Bisnis.Util.Document.putHtml('#chartCategory', categoryOption);
                    Bisnis.Util.Style.modifySelect('#chartCategory');
                });
            } else {
                Bisnis.Util.Document.hide('.chartCategoryBox');
            }

            if (0 < staff.length) {
                Bisnis.Util.Storage.store('staff', JSON.stringify(staff[0]));
            } else {
                return null;
            }

            loadStatisticData({{ year }}, function () {
                Bisnis.Util.Event.triggerClick('.barChart');
                Bisnis.Helpdesk.Ticket.fetchStatistic(function (response) {
                    var delta = Math.abs(response['work_duration']['duration']) / 1000;
                    var days = Math.floor(delta / 86400);
                    delta -= days * 86400;
                    var hours = Math.floor(delta / 3600) % 24;
                    delta -= hours * 3600;
                    var minutes = Math.floor(delta / 60) % 60;
                    delta -= minutes * 60;
                    var seconds = delta % 60;

                    var formatted = days + ' HARI ' + hours + ' JAM ' + minutes + ' MENIT ' + seconds.toPrecision(2) + ' DETIK';

                    if ('undefined' === typeof response['active_type']['type'] || '' === response['active_type']['type']) {
                        response['active_type']['type'] = 'BELUM DITENTUKAN';
                    }

                    Bisnis.Util.Document.putHtml('.totalOpen', '<b>' + response['open_category']['name'] + '(' + response['open_category']['total'] + ')</b>');
                    Bisnis.Util.Document.putHtml('.mostActiveStaff', '<b>' + response['active_staff']['fullname'] + '(' + response['active_staff']['total'] + ')</b>');
                    Bisnis.Util.Document.putHtml('.mostActiveCategory', '<b>' + response['active_category']['name'] + '(' + response['active_category']['total'] + ')</b>');
                    Bisnis.Util.Document.putHtml('.mostActiveType', '<b>' + response['active_type']['type'].toUpperCase() + '(' + response['active_type']['total'] + ')</b>');
                    Bisnis.Util.Document.putHtml('.mostActiveClient', '<b>' + response['active_client']['fullname'] + '(' + response['active_client']['total'] + ')</b>');
                    Bisnis.Util.Document.putHtml('.totalWorkDuration', '<b>' + formatted + '</b>');
                    Bisnis.Util.Document.putHtml('.totalResolved', '<b>' + response['total_resolved']['total'] + ' DARI ' + response['total_ticket']['total'] + '</b>');
                });
            });
        }));

        Bisnis.Util.Event.bind('click', '.barChart', function () {
            cleanCanvas();

            var category = getCategory();
            var type = getType();
            var params = {};
            var title = 'STATISTIK HELPDESK TAHUN {{ year }} ';
            if (null !== category.id) {
                title = 'STATISTIK HELPDESK BAGIAN ' + category.name + ' TAHUN {{ year }}';
                params = {
                    'category_id': category.id,
                    'type': type,
                    'year': {{ year }}
                };
            } else {
                params = {
                    'year': {{ year }},
                    'type': type
                };
            }

            if (null !== type) {
                title = title + ' TIPE ' + type;
            }

            bar = Bisnis.Chart.Bar.render(document.getElementById('chart'), JSON.parse(Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA__')), title, 'Bulan', 'Jumlah', function (e) {
                var activePoint = bar.getElementAtEvent(e)[0];
                var data = activePoint._chart.data;
                var datasetIndex = activePoint._datasetIndex;
                var label = data.datasets[datasetIndex].label;
                params['status'] = label;

                loadChartPerStaff(params, title + ' STATUS ' + label);
            });
        });

        Bisnis.Util.Event.bind('click', '.lineChart', function () {
            cleanCanvas();

            var category = getCategory();
            var type = getType();
            var params = {};
            var title = 'STATISTIK HELPDESK TAHUN {{ year }} ';
            if (null !== category.id) {
                title = 'STATISTIK HELPDESK BAGIAN ' + category.name + ' TAHUN {{ year }}';
                params = {
                    'category_id': category.id,
                    'type': type,
                    'year': {{ year }}
                };
            } else {
                params = {
                    'year': {{ year }},
                    'type': type
                };
            }

            if (null !== type) {
                title = title + ' TIPE ' + type;
            }

            line = Bisnis.Chart.Line.render(document.getElementById('chart'), JSON.parse(Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA__')), title, 'Bulan', 'Jumlah', function (e) {
                var activePoint = line.getElementAtEvent(e)[0];
                var data = activePoint._chart.data;
                var datasetIndex = activePoint._datasetIndex;
                var label = data.datasets[datasetIndex].label;
                params['status'] = label;

                loadChartPerStaff(params, title + ' STATUS ' + label);
            });
        });

        Bisnis.Util.Event.bind('click', '.pieChart', function () {
            cleanCanvas();

            var pieData = transformToPie(JSON.parse(Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA__')));
            var chartData = {
                datasets: [{
                    data: pieData['data'],
                    backgroundColor: pieData['backgroundColor'],
                    label: 'HELPDESK'
                }],
                labels: pieData['labels']
            };

            var category = getCategory();
            var type = getType();
            var params = {};
            var title = 'STATISTIK HELPDESK TAHUN {{ year }} ';
            if (null !== category.id) {
                title = 'STATISTIK HELPDESK BAGIAN ' + category.name + ' TAHUN {{ year }}';
                params = {
                    'category_id': category.id,
                    'type': type,
                    'year': {{ year }}
                };
            } else {
                params = {
                    'year': {{ year }},
                    'type': type
                };
            }

            if (null !== type) {
                title = title + ' TIPE ' + type;
            }

            pie = Bisnis.Chart.Pie.render(document.getElementById('chart'), chartData , title, function (e) {
                var activePoint = pie.getElementAtEvent(e)[0];
                var data = activePoint._chart.data;
                var label = data.labels[activePoint._index];
                params['status'] = label;

                loadChartPerStaff(params, title + ' STATUS ' + label);
            });
        });

        Bisnis.Util.Event.bind('change', '#chartCategory', function () {
            loadStatisticData({{ year }}, function () {
                cleanCanvas();

                Bisnis.Util.Event.triggerClick('.barChart');
            });
        });

        Bisnis.Util.Event.bind('change', '#chartType', function () {
            loadStatisticData({{ year }}, function () {
                cleanCanvas();

                Bisnis.Util.Event.triggerClick('.barChart');
            });
        });

        Bisnis.Util.Event.bind('click', '.perStaff', function () {
            cleanCanvas();

            var title = 'STATISTIK HELPDESK TAHUN {{ year }} PER STAFF';
            var category = getCategory();
            var type = getType();
            var params = {};
            if (null !== category.id) {
                title = 'STATISTIK HELPDESK BAGIAN ' + category.name + ' TAHUN {{ year }} PER STAFF';
                params = {
                    'category_id': category.id,
                    'type': type,
                    'year': {{ year }}
                }
            } else {
                params = {
                    'year': {{ year }},
                    'type': type
                }
            }

            if (null !== type) {
                title = title + ' TIPE ' + type;
            }

            loadChartPerStaff(params, title, function (e) {
                var activePoint = detail.getElementAtEvent(e)[0];
                var data = activePoint._chart.data;
                var datasetIndex = activePoint._datasetIndex;
                var label = data.datasets[datasetIndex].label;

                cleanCanvas();

                var statistics = {
                    'assignment': [],
                    'closed': [],
                    'onprogress': [],
                    'open': [],
                    'resolved': []
                };

                Bisnis.each(function (idx, value) {
                    var index = idx - 1;

                    statistics['assignment'][index] = 0;
                    statistics['closed'][index] = 0;
                    statistics['onprogress'][index] = 0;
                    statistics['open'][index] = 0;
                    statistics['resolved'][index] = 0;

                    if (0 < value.length) {
                        Bisnis.each(function (i, stat) {
                            if (null === stat['fullname']) {
                                stat['fullname']  = 'NONAME';
                            }

                            if (label === stat['fullname']) {
                                statistics[stat['status']][index] = parseInt(stat['total']);
                            }
                        }, value);
                    }
                }, JSON.parse(Bisnis.Util.Storage.fetch('__HELPDESK_CHARTDATA_DETAIL__')));

                var chartData = {
                    labels: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                    datasets: [{
                        label: 'Open',
                        backgroundColor: '#dddddd',
                        borderColor: '#dddddd',
                        fill: false,
                        data: statistics['open']
                    }, {
                        label: 'Assignment',
                        backgroundColor: '#337ab7',
                        borderColor: '#337ab7',
                        fill: false,
                        data: statistics['assignment']
                    }, {
                        label: 'Onprogress',
                        backgroundColor: '#f0ad4e',
                        borderColor: '#f0ad4e',
                        fill: false,
                        data: statistics['onprogress']
                    }, {
                        label: 'Closed',
                        backgroundColor: '#d73925',
                        borderColor: '#d73925',
                        fill: false,
                        data: statistics['closed']
                    }, {
                        label: 'Resolved',
                        backgroundColor: '#5cb85c',
                        borderColor: '#5cb85c',
                        fill: false,
                        data: statistics['resolved']
                    }]
                };

                detail = Bisnis.Chart.Bar.render(document.getElementById('chart'), chartData, title + ' [' + label + ']', 'Bulan', 'Jumlah');
            });
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-6 chartCategoryBox">
                        <select name="category" class="form-control" id="chartCategory" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="type" class="form-control" id="chartType" style="width: 100%">
                            <option selected value="">PILIH TIPE</option>
                            <option value="bug">BUG</option>
                            <option value="request">REQUEST</option>
                            <option value="guide">GUIDE/TUTORIAL</option>
                        </select>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="chart"></canvas>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-success pull-right perStaff"><i class="fa fa-user"></i></button>
                    <button type="button" class="btn btn-success pull-right margin-r-5 barChart"><i class="fa fa-bar-chart"></i></button>
                    <button type="button" class="btn btn-success pull-right margin-r-5 lineChart"><i class="fa fa-line-chart"></i></button>
                    <button type="button" class="btn btn-success pull-right margin-r-5 pieChart"><i class="fa fa-pie-chart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Tiket Outstanding</span>
                    <span class="info-box-number totalOpen">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Bagian dengan tiket yang belum ditangani (status: <b>Open</b>) terbanyak</span>
                </div>
            </div>
            <div class="info-box bg-blue">
                <span class="info-box-icon"><i class="fa fa-user"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Staff Teraktif</span>
                    <span class="info-box-number mostActiveStaff">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Staf dengan tiket terbanyak</span>
                </div>
            </div>
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-building"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Bagian Teraktif</span>
                    <span class="info-box-number mostActiveCategory">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Bagian dengan tiket terbanyak</span>
                </div>
            </div>
            <div class="info-box bg-aqua-active">
                <span class="info-box-icon"><i class="fa fa-tags"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Jenis Tiket Terbanyak</span>
                    <span class="info-box-number mostActiveType">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Jenis tiket yang paling banyak dikirimkan oleh klien</span>
                </div>
            </div>
            <div class="info-box bg-blue-active">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Klien Teraktif</span>
                    <span class="info-box-number mostActiveClient">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Klien yang paling banyak membuat tiket</span>
                </div>
            </div>
            <div class="info-box bg-red-active">
                <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Durasi Kerja</span>
                    <span class="info-box-number totalWorkDuration">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Durasi jam kerja dihitung sejak tiket dikerjakan (status: <b>Onprogress</b>)</span>
                </div>
            </div>
            <div class="info-box bg-green-active">
                <span class="info-box-icon"><i class="fa fa-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Tiket yang telah selesai</span>
                    <span class="info-box-number totalResolved">0</span>
                    <div class="progress"></div>
                    <span class="progress-description">Total tiket yang sudah selesai ditangani (status: <b>Resolved</b>)</span>
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}